<page-menu ng-if="user.id">
	<li><a href="#/contact">Contact</a></li>
</page-menu>
<div class="paper" ng-class="{logdout:!user.id}">
	<h3>Contact</h3>
	<hr>

	<contact>
		<input type="email" class="form-control imod" placeholder="Email" ng-model="cv.email">
		<br /><br />
		<textarea type="text" rows="8" class="form-control imod" placeholder="Message" ng-model="cv.message"></textarea>
		<a href="javascript:;" class="btn btn-success pull-right h1" ng-click="cv.newContact(cv.email, cv.message)">Submit</a>
		<div class="clearfix"></div>
	</contact>
</div>