<md-card>
    <md-toolbar class="md-site-secondary">
        <div class="md-toolbar-tools">
            <h2>
                <span>Contact</span>
            </h2>
        </div>
    </md-toolbar>
    <contact>
        <md-input-container layout-padding>
            <label>Message</label>
            <textarea ng-model="cv.message"></textarea>
        </md-input-container>
        <md-button ng-click="cv.newContact(user.email, cv.message)" aria-label="send contact message">Submit</md-button>
    </contact>
</md-card>