<page-menu>
  <li><a href="#/desktop"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; Desktop</a></li>
</page-menu>

  <div class="paper col-md-2 text-center pull-right">
    <h4>Pages</h4>
    <p><a href="#/templates/new">New <i class="glyphicon glyphicon-play"></i></a></p>
    <p><a href="#/templates">View All <i class="glyphicon glyphicon-play"></i></a></p>
    <h4>Reports</h4>
    <p><a href="#/reports/new">New <i class="glyphicon glyphicon-play"></i></a></p>
    <p><a href="#/reports">View All <i class="glyphicon glyphicon-play"></i></a></p>
    <h4>Stats</h4>
    <p><a href="#/statistics">View <i class="glyphicon glyphicon-play"></i></a></p>
  </div>