<h1 class="page-header">Desktop</h1>
<div class="row placeholders" ng-controller="ReportsStatisticsController">
  <button class="btn btn-primary" ng-click="showData()">Log</button>
  <select ng-model="selectedData" ng-options="prop for prop in dataProps.names"></select>
  <div class="col-xs-6 col-sm-3 placeholder">
    <canvas id="polar-area" class="chart chart-pie" data="data" labels="labels"></canvas>
  </div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
    </tbody>
  </table>
</div>