<h1 class="page-header">Desktop</h1>
<div class="row desktop-buttons text-center">
  <a href="#/templates/new" class="btn custom-jumbotron jumbotron-info"><p class="lead"><i class="glyphicon glyphicon-list-alt"></i></p>
    <span class="col-xs-8 text-center">Create Template</span></a>
  <a href="#/reports/new" class="btn custom-jumbotron jumbotron-success"><p class="lead"><i class="glyphicon glyphicon-file"></i></p>Create Report</a>
  <a href="#/statistics" class="btn custom-jumbotron jumbotron-warning"><p class="lead"><i class="glyphicon glyphicon-object-align-bottom"></i></p>View Stats</a>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
    </tbody>
  </table>
</div>