<!-- Signed-in Menu -->

<nav>
    <md-toolbar layout="row" class="md-site-primary">
        <div flex-gt-md="15"></div>
        <div flex layout="row" layout-align="start center" layout-padding>
            <md-button href="/" aria-label="go to main">
                <span class="md-headline"><strong>Clerkr</strong></span>
            </md-button>
            <div ng-if="user.signedIn && user.reports_count > 0">
                <md-button clocation ng-click="lv.locate('/statistics')" aria-label="view statistics">
                    Statistics
                </md-button>
            </div>
            <span flex></span>
            <md-button user-menu ng-click="uv.toggleMenu()" class="md-icon-button" aria-label="open user menu">
                <md-tooltip md-direction="bottom">
                    User Menu
                </md-tooltip>
                <md-icon>person</md-icon>
            </md-button>
        </div>
        <div flex-gt-md="15"></div>
    </md-toolbar>
</nav>