<!-- Signed-in Menu -->
<md-toolbar class="md-site-primary" layout="row" layout-align="start center" layout-padding>
    <md-button clocation ng-click="lv.locate('/')" aria-label="go to main">
        <span class="md-headline"><strong>Clerkr</strong></span>
    </md-button>
    <div ng-if="user.signedIn && user.email == 'joe.c.mccormick@gmail.com'">
        <md-button clocation ng-click="lv.locate('/statistics')" aria-label="view statistics">
            Statistics
        </md-button>
    </div>
    <div ng-if="!user.signedIn">
        <md-button scroll-to="#about" bypass="true" aria-label="about clerkr">
            About
        </md-button>
    </div>
    <span flex></span>
    <md-button ng-click="authenticate('google')" ng-if="!user.signedIn" aria-label="sign in with google">
        Sign in with Google
    </md-button>
    <md-button user-menu ng-click="uv.toggleMenu()" class="md-icon-button" aria-label="open user menu">
        <md-tooltip md-direction="bottom">
            User Menu
        </md-tooltip>
        <md-icon>person</md-icon>
    </md-button>
</md-toolbar>

<md-sidenav user-menu class="md-sidenav-right" md-component-id="right">
    <md-content ng-form="contactForm" contact layout="column" layout-fill layout-padding>
        <md-input-container>
            <label>Send us a message</label>
            <textarea ng-model="cv.message" required="required"></textarea>
        </md-input-container>
        <md-input-container ng-if="!user.signedIn">
            <label>Email</label>
            <input type="email" ng-model="user.email" required="required">
        </md-input-container>
        <md-button ng-click="cv.newContact(user.email, cv.message);uv.closeMenu()" ng-disabled="!contactForm.$valid" aria-label="send contact message">
            Submit
        </md-button>
        <span flex></span>
        <md-button ng-click="uv.closeMenu();signOut()" ng-if="user.signedIn" class="md-raised md-warn" aria-label="sign out of clerkr">
            Sign Out
        </md-button>
    </md-content>
</md-sidenav>