<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Clerkr, <%= @user.name %></h1>
    <p>
      Your account has been successfully created
      and your username is: <%= @user.uid %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>We appreciate your joining and hope to serve you well!</p>
  </body>
</html>