<form name="myForm" id="myForm" class="form">
    <h1><center>{{form.name}}</center></h1>
    <div ng-repeat="section in form.sections">
        <h3>{{section.title}}</h3>
        <div class="{{column.width}}" ng-repeat="column in section.columns">
            <div ng-repeat="field in column.fields">
                <template-field-directive field="field">

                </template-field-directive>
            </div>
        </div>
    </div>

    <p class="text-center">
        <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submitForm()"><i class="icon-edit icon-white"></i> Submit Form</button>
        <button class="btn btn-danger right" type="button" ng-click="cancelForm()"><i class="icon-remove icon-white"></i> Cancel</button>
    </p>
</form>

<!-- <div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.sections.columns.fields">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div> -->