<!-- BEGIN PREVIEW MODAL -->
<div class="modal fade previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title">Template Preview</h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-12">
          <template-form-directive form="previewTemplate"></template-form-directive>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Return">Return</button>  
      </div>
    </form>
  </div>
</div>
<!-- END PREVIEW MODAL -->