<!-- BEGIN MODALS -->


<!-- BEGIN PREVIEW MODAL -->
<div modal-hide ng-if="showModal" model="$parent" show-modal="showModal" class="modal fade previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title">Template Preview</h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-12">
          <template-form-directive form="previewTemplate"></template-form-directive>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Return">Return</button>  
      </div>
    </form>
  </div>
</div>
<!-- END PREVIEW MODAL -->


<!-- BEGIN NEW SECTION MODAL -->
<div class="modal fade newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title">Section Design</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Section Title</label>
        <input type="text" class="form-control" ng-model="newSectionName" value="{{section_name}}">

        <label class="control-label">Number of Columns</label>
        <ul class="btn-group btn-group-justified list-unstyled">
          <li class="btn btn-default" data-dismiss="modal" ng-repeat="column in columnTypes" ng-click="addNewSection(newSectionName, column.id)">
            {{column.id}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="">Create Section</button> -->  
      </div>
    </form>
  </div>
</div>
<!-- END NEW SECTION MODAL -->


<!-- END MODALS -->

<h1 class="page-header">Template Builder</h1>

<!-- BEGIN EDIT TEMPLATE STICK -->
<div class="stick row" ng-if="template.id">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <ul class="btn-group btn-group-justified">
      <a role="button" class="btn btn-default" ng-click="saveTemplate()">Finish</a>
      <li class="btn-group dropdown">
        <a role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></a>
        <ul class="dropdown-menu template-options-dropdown" role="menu">
          <li class="col-sm-12 col-md-4 h5">
            <ul>
              <li><h4>Template</h4></li>
              <li><label for="template_draft"><input type="checkbox" id="template_draft" name="template_draft" ng-model="template.draft"> Draft</label></li>
              <li><label for="template_title"><input type="checkbox" id="template_title" name="template_title" ng-model="template.allow_title"> Add Title</label></li>
            </ul>
          </li>
          <li class="col-sm-12 col-md-4 h5">
            <ul>
              <li><h4>Sharing</h4></li>
              <li><label for="private_world"><input type="checkbox" id="private_world" name="private_world" ng-model="template.private_world"> Share Public</label></li>
              <li><label for="private_group"><input type="checkbox" id="private_group" name="private_group" ng-model="template.private_group"> Share Group</label></li>
            </ul>
          </li>
          <li class="col-sm-12 col-md-4 h5" ng-if="template.private_group == 1">
            <ul>
              <li><h4>Group</h4></li>
              <li><label for="group_edit"><input type="checkbox" id="group_edit" name="group_edit" ng-model="template.group_edit"> Allow Editing</label></li>
              <li ng-if="template.group_edit"><p><b>Editors</b></p><a role="button">Add</a> / <a role="button">Remove</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <a role="button" class="btn btn-default" data-toggle="modal" data-target=".newSectionModal"><i class="glyphicon glyphicon-plus"></i> Section</a>
      <a role="button" class="btn btn-default" data-toggle="modal" data-target=".previewModal" ng-click="previewUpdate()">Preview</a>
    </ul>
  </div>
  <div class="col-xs-1">
    <a role="button" class="btn btn-danger" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this template?<br> All work will be permanently deleted.</h4></center>" ng-bootbox-confirm-action="deleteTemplate()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</div>
<!-- END EDIT TEMPLATE STICK -->

<!-- BEGIN FORM NAME INPUT -->
<h3>Title
  <sup>
    <small>
      <i class="glyphicon glyphicon-flash" rel="popover" data-trigger="hover" data-title="Template Title" data-html="true" data-content="<p>Great titles convey their message with keywords which capture a situation.</p><p>Ex:</p><pre>In-Person Math Tutoring<br>Influenza Patient Intake<br>Daily Exercise Routine</pre>" data-container="body"></i>
    </small>
  </sup>
</h3>

<p class="input-group">
  <input type="text" class="form-control" ng-model="template.name" placeholder="Start with a title..."/>
  <span class="input-group-btn">
    <button class="btn btn-primary" ng-click="saveTemplate('temp')">Save</button>
  </span>
</p>
<!-- END FORM NAME INPUT -->

<div ng-show="template.id">
  <h3>Sections
    <sup>
      <small>
        <i class="glyphicon glyphicon-flash" rel="popover" data-trigger="hover" data-html="true" title="Sections" data-content="<p>Open and close sections by clicking on the title area</p><p>Click and drag titles to reorder sections.</p>" data-container="body"></i>
      </small>
    </sup>
  </h3>
</div>

<!-- START MAIN SECTION REPEATING -->
<div role="tablist" sortable-list="template.sections" class="panel-group panel-carat" id="section-accordion">
  <div panel-hide class="panel panel-default" ng-repeat="(section_id, section_name) in template.sections track by $index">


    <!-- BEGIN SECTION HEADER -->
    <div class="panel-heading template-section-header"
    ng-class="{'collapsed':!$first}"
    data-toggle="collapse" 
    data-target="#sec{{section_id+1}}" 
    data-parent="#section-accordion" 
    aria-controls="sec{{section_id+1}}"
    id="section-accordion-header">
      <h4 class="panel-title">
        {{section_name}}
      </h4>
    </div>
    <!-- END SECTION HEADER -->


    <!-- BEGIN SECTION INFO PANEL -->
    <div role="tabpanel" id="sec{{section_id+1}}" class="panel-collapse collapse section-panel" aria-labelledby="heading{{section_id+1}}-tab" ng-class="{'active in':$first}">
      <div class="panel-body" bs-popover>

        <!-- BEGIN SECTION AND COLUMN DETAILS -->
        <p class="input-group">
          <input type="text" class="form-control" ng-model="section_name" value="{{section_name}}" placeholder="Enter a section name...">
          <span class="input-group-btn">
            <button class="btn btn-danger" data-toggle="collapse" data-target="#sec{{section_id+1}}" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this section?</h4></center>" ng-bootbox-confirm-action="deleteSection(template, section_name)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </span>
        </p>
        <!-- END SECTION AND COLUMN DETAILS -->


        <!-- BEGIN COLUMN LIST -->
        <ul role="tablist" class="btn-group btn-group-justified list-unstyled">
          <li role="presentation" class="btn btn-default" ng-class="{'active in':$first}" ng-repeat="column in countColumns(template.columns[section_id]) track by $index" aria-controls="sec{{section_id+1}}col{{$index+1}}" data-target="#sec{{section_id+1}}col{{$index+1}}" data-toggle="tab">
            Column {{$index+1}}
          </li>
        </ul>
        <!-- END COLUMN LIST -->
        

        <!-- BEGIN COLUMN REPEATING -->
        <div class="tab-content">
          <div role="tabpanel" 
          id="sec{{section_id+1}}col{{$index+1}}" 
          class="tab-pane fade column-preview-wrap" 
          ng-class="{'active in':$first}" 
          aria-labeledby="sec{{section_id+1}}col{{$index+1}}-tab" 
          ng-repeat="column in countColumns(template.columns[section_id]) track by $index">
            

            <!-- BEGIN FIELD LIST -->
            <div class="row h1">
              <div class="col-xs-10 col-xs-offset-1">
                <a role="button" class="btn btn-default col-xs-3" ng-bootbox-prompt="Please enter a name for this {{type.value}}" ng-bootbox-prompt-action="addNewField(template, section_id+1, $parent.$index+1, type, result)" ng-repeat="type in fieldTypes">
                  {{type.value}}
                </a>
              </div>
            </div>
            <!-- END FIELD LIST -->


            <!-- BEGIN FIELD REPEATING -->
            <div role="tablist" class="panel-group" id="field-accordion-sec{{section_id+1}}col{{$index+1}}">
              <div class="panel panel-default" ng-repeat="field in template.fields | filter:{section_id: section_id+1, column_id: $index+1}">


                <!-- BEGIN FIELD HEADER -->
                <div class="panel-heading" 
                data-toggle="collapse" 
                data-target="#sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}" 
                data-parent="#field-accordion-sec{{section_id+1}}col{{$parent.$index+1}}" 
                aria-controls="sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}" 
                id="sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}-header">
                  <h4 class="panel-title">
                    <i class="glyphicon {{field.glyphicon}}"></i>
                    {{field.name}}
                  </h4>
                </div>
                <!-- END FIELD HEADER -->


                <!-- BEGIN FIELD ACCORDION -->
                <div role="tabpanel" id="sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}" ng-class="{'in':$first}" class="panel-collapse collapse" aria-labelledby="sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}-tab">
                  <div class="panel-body">


                    <!-- BEGIN FIELD ACCORDION LEFT SIDE -->
                    <div class="col-xs-6" bs-popover>
                        <div class="form-group">
                            <label class="control-label">Field Title</label>
                            <input type="text" class="form-control" ng-model="field.name">
                        </div>

                        <div class="form-group" ng-hide="field.fieldtype == 'checkbox' || field.fieldtype == 'radio'">
                            <label class="control-label">Field Default Value</label>
                            <input type="{{field.fieldtype}}" class="form-control" ng-model="field.values[0].input">
                        </div>

                        <div class="form-group">
                            <label class="control-label"><input type="checkbox" ng-model="field.required"/> Required?</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label"><input type="checkbox" ng-model="field.disabled"/> Disabled?</label>
                        </div>
                    </div>
                    <!-- END FIELD ACCORDION LEFT SIDE -->


                    <!-- BEGIN FIELD ACCORDION RIGHT SIDE -->
                    <div class="col-xs-6">
                      <div class="form-group" ng-show="field.fieldtype == 'radio' || field.fieldtype == 'dropdown'">
                        <label class="control-label">Field Options</label>
                        <div class="control-input">
                          <button class="btn btn-primary btn-sm" type="button" ng-click="addOption(field)"> Add Option</button><br><br>
                          <p class="input-group" ng-repeat="option in field.options">
                            <input type="text" class="form-control" ng-model="option.name" value="{{option.name}}">
                            <span class="input-group-btn">
                              <button class="btn btn-danger" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this option?</h4></center>" ng-bootbox-confirm-action="deleteOption(field, option)">
                                <i class="glyphicon glyphicon-remove"></i>
                              </button>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- END FIELD ACCORDION RIGHT SIDE -->


                    <!-- BEGIN FIELD ACCORDION FOOTER -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <button type="button" class="btn btn-danger h1" data-toggle="collapse" data-target="#sec{{section_id+1}}col{{$parent.$index+1}}field{{field.id}}" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this field?</h4></center>" ng-bootbox-confirm-action="deleteField(column, field)">Delete Field</button>
                    </div>
                    <!-- END FIELD ACCORDION FOOTER -->


                  </div>
                </div>
                <!-- END FIELD ACCORDION -->


              </div>
            </div>
            <!-- END FIELD REPEATING -->


            <!-- BEGIN COLUMN PREVIEW -->
<!--             <div role="tablist" class="panel-group" id="column-preview-accordion">
              <div class="panel panel-default">


                <div class="panel-heading" 
                data-toggle="collapse" 
                data-target="#sec{{section_id+1}}col{{$index+1}}-preview-panel" 
                data-parent="#column-preview-accordion" 
                aria-controls="sec{{section_id+1}}col{{$index+1}}-preview-panel" 
                id="column-preview-panel-header">
                  <h4 class="panel-title" bs-popover>
                    <i class="glyphicon glyphicon-search"></i>
                    Column Preview 
                    <sup>
                      <small>
                        <i class="glyphicon glyphicon-flash" rel="popover" data-trigger="hover" title="Column Preview" data-content="Click to view a live preview of the currently selected column. Any data entered into the fields below will be used as their default values when entering reports." data-placement="top" data-container="body"></i>
                      </small>
                    </sup>
                  </h4>
                </div>


                <div role="tabpanel" id="sec{{section_id+1}}col{{$index+1}}-preview-panel" class="panel-collapse collapse" aria-labelledby="sec{{section_id+1}}col{{$index+1}}-preview-panel-tab">
                  <div class="panel-body">
                    <template-field-directive ng-repeat="field in column.fields" field="field"></template-field-directive>
                  </div>
                </div>


              </div>
            </div> -->
            <!-- END COLUMN PREVIEW -->


          </div>
        </div>
        <!-- END COLUMN REPEATING -->


      </div> 
    </div>
    <!-- END SECTION INFO PANEL -->


  </div>
</div>
<!-- END MAIN SECTION REPEATING -->