<nav id="page-menu" class="navbar navbar-inverse">
  <div class="navbar-header">
    <ul class="nav navbar-left top-nav">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-file"></i> &nbsp; Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/templates/new"><i class="glyphicon glyphicon-plus"></i> &nbsp; New</a></li>
          <li><a href ng-click="saveTemplate()" ng-if="template.id"><i class="glyphicon glyphicon-save"></i> &nbsp; Save/Finish</a></li>
          <li><a href="#/templates"><i class="glyphicon glyphicon-search"></i> &nbsp; View All</a></li>
          <li class="divider"></li>
          <li><a href ng-bootbox-confirm="<center><h4>Are you sure you want to delete this page?<br> All work will be permanently deleted.</h4></center>" ng-bootbox-confirm-action="deleteTemplate()"><i class="glyphicon glyphicon-trash text-danger"></i> &nbsp; Delete</a></li>
        </ul>
      </li>
      <li><a href ng-click="saveTemplate('temp')"><i class="glyphicon glyphicon-floppy-disk"></i> &nbsp; Save</a></li>
      <li class="dropdown" ng-if="template.id">
        <a href class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> &nbsp; Insert <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href data-toggle="modal" data-target=".newSectionModal"><i class="glyphicon glyphicon-modal-window"></i> &nbsp; Section</a></li>
          <li class="divider"></li>
          <li ng-repeat="type in fieldTypes"><a href ng-click="setFieldType(type)" ng-class="{disabled:template.sections.length<1}" data-toggle="modal" data-target=".newFieldModal"><i class="glyphicon {{type.glyphicon}}"></i> &nbsp; {{type.value}}</a></li>
        </ul>
      </li>
      <li class="dropdown" ng-if="template.id">
        <a href class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> &nbsp; Options <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><span>Page</span></li>
          <li><span><label><input ng-model="template.hideName" type="checkbox"> Hide Name</span></li>
          <li><span><label for="template_draft"><input type="checkbox" id="template_draft" name="template_draft" ng-model="template.draft"> Draft</label></span></li>
          <li class="divider"></li>
          <li><span>Sharing</span></li>
          <li><span><label for="private_world"><input type="checkbox" id="private_world" name="private_world" ng-model="template.private_world"> Share Public</label></span></li>
          <li><span><label for="private_group"><input type="checkbox" id="private_group" name="private_group" ng-model="template.private_group"> Share Group</label></span></li>
          <div ng-if="template.private_group == 1">
            <li class="divider"></li>
            <li><span>Group</span></li>
            <li><span><label for="group_edit"><input type="checkbox" id="group_edit" name="group_edit" ng-model="template.group_edit"> Allow Editing</label></span></li>
            <div ng-if="template.group_edit">
              <li><span>Editors</span></li>
              <li><span><a role="button">Add</a> / <a role="button">Remove</a></span></li>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<template-form-directive form="template"></template-form-directive>

<!-- BEGIN MODALS -->


<!-- BEGIN NEW SECTION MODAL -->
<div class="modal fade newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title">Section Design</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Section Title</label>
        <input type="text" class="form-control" ng-model="newSectionName" value="{{section_name}}">

        <label class="control-label">Number of Columns</label>
        <ul class="btn-group btn-group-justified list-unstyled">
          <li class="btn btn-default" data-dismiss="modal" ng-repeat="column in columnTypes" ng-click="addNewSection(newSectionName, column.id)">
            {{column.id}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="">Create Section</button> -->  
      </div>
    </form>
  </div>
</div>
<!-- END NEW SECTION MODAL -->

<!-- BEGIN NEW FIELD MODAL -->
<div class="modal fade newFieldModal" tabindex="-1" role="dialog" aria-labelledby="newFieldModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form name="newFieldForm" class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title">Field Design</h4>
      </div>
      <div class="modal-body">
        <label class="control-label">Field Name</label>
        <input type="text" class="form-control" ng-model="newFieldName" required>

        <label class="control-label">Section</label>
        <select class="form-control" ng-model="newFieldSection" ng-options="key as value for (key, value) in template.sections">
          <option value="">Select Section</option>
        </select>
        
        <label ng-if="newFieldSection && newFieldSection+1>0" class="control-label">Column</label>
        <ul ng-if="newFieldSection && newFieldSection+1>0" class="btn-group btn-group-justified list-unstyled">
          <li class="btn btn-default" data-dismiss="modal" ng-click="addNewField(template, 1*newFieldSection+1, $index+1, newFieldType, newFieldName)" ng-repeat="column_id in countColumns(template.columns[newFieldSection]) track by $index">
            Column {{$index+1}}
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
<!-- END NEW FIELD MODAL -->


<!-- END MODALS -->
