<md-card flex ng-form="vt.tempForm">
    <md-toolbar class="md-site-secondary">
        <div class="md-toolbar-tools">
            <md-button href="/" class="md-icon-button" aria-label="back to index">
                <md-tooltip md-direction="bottom">
                    Go back
                </md-tooltip>
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h2>
                <span>All Pages</span>
            </h2>
            <span flex></span>
            <md-button href="/templates/new" class="md-fab md-site-primary cl-desktop-fab-align" aria-label="new page">
                <md-tooltip md-direction="left">
                    New Page
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <table class="table" cellspacing="0" layout-fill>
        <thead>
            <tr>
                <th></th>
                <th align="left" ng-click="vt.sortType = 'id'; vt.sortReverse = !vt.sortReverse" aria-label="sort pages by id">
                    ID
                    <md-icon ng-show="vt.sortType=='id'">
                        expand_{{ (!vt.sortReverse && 'more') || (vt.sortReverse && 'less') }}
                    </md-icon>
                </th>
                <th align="left" ng-click="vt.sortType = 'name'; vt.sortReverse = !vt.sortReverse" aria-label="sort pages by name">
                    Name
                    <md-icon ng-show="vt.sortType=='name'">
                        expand_{{ (!vt.sortReverse && 'more') || (vt.sortReverse && 'less') }}
                    </md-icon>
                </th>
                <th align="left" ng-click="vt.sortType = 'updated_at'; vt.sortReverse = !vt.sortReverse" aria-label="sort pages by time updated">
                    Updated
                    <md-icon ng-show="vt.sortType=='updated_at'">
                        expand_{{ (!vt.sortReverse && 'more') || (vt.sortReverse && 'less') }}
                    </md-icon>
                </th>
            </tr>
        </thead>
        <tbody ng-if="vt.templates.length">
            <tr ng-repeat="template in vt.filteredList = (vt.templates | filter:vt.keywords) | orderBy:vt.sortType:vt.sortReverse | startFrom:vt.currentPage*vt.pageSize | limitTo: vt.pageSize" ng-class="{'md-site-primary':$index % 2 == 0}">
                <td>
                    <md-menu>
                    <!-- Trigger element is a md-button with an icon -->
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                            <md-tooltip md-direction="top">
                                {{template.name}} Menu
                            </md-tooltip>
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-switch ng-click="$mdCloseMenu()" ng-model="template.draft" aria-label="draft or undraft {{template.name}}" ng-change="vt.setDraft(template)">
                                    {{(!template.draft && 'Und') || 'D'}}rafted
                                </md-switch>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu();vt.newReport(template, vt.tempForm)" aria-label="new report with {{template.id}} {{template.name}}">
                                    <md-icon>description</md-icon> New Report
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu()" href="/templates/{{template.id}}" aria-label="view {{template.id}} {{template.name}}">
                                    <md-icon>search</md-icon> View
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu()" href="/templates/{{template.id}}/edit" aria-label="edit {{template.id}} {{template.name}}">
                                    <md-icon>create</md-icon> Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu();vt.delete($event, template)" class="md-warn" ria-label="delete {{template.id}} {{template.name}}">
                                    <md-icon>delete</md-icon> Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
                <td><p>{{template.id}}</p></td>
                <td><p>{{template.name}}</p></td>
                <td><p>{{template.updated_at | date: 'short'}}</p></td>
            </tr>
        </tbody>
    </table>
    <div layout="row" layout-wrap layout-padding layout-align="center center">
        <md-button class="md-icon-button md-primary" ng-repeat="distance in [5, 25, 100]" ng-click="vt.pageSize = distance; vt.currentPage = 0" aria-label="{{distance}} entries per page">
            <md-tooltip md-direction="top">
                entries per page
            </md-tooltip>
            {{distance}}
        </md-button>
    
        <span flex></span>
    
        <md-button class="md-icon-button md-primary" ng-class="{'disabled':vt.currentPage==0}" ng-click="vt.currentPage = vt.currentPage-1" aria-label="back 1 page">
            <md-tooltip md-direction="top">
                Back 1 page
            </md-tooltip>
            <md-icon>chevron_left</md-icon>
        </md-button>
        {{(vt.filteredList.length && vt.currentPage+1) || 0}}/{{vt.filteredList.length && vt.numPages() || 0}}
        <md-button class="md-icon-button md-primary" ng-class="{'disabled':vt.filteredList.length && vt.currentPage>=vt.numPages()-1}" ng-click="vt.currentPage = vt.currentPage+1" aria-label="forward 1 page">
            <md-tooltip md-direction="top">
                Forward 1 page
            </md-tooltip>
            <md-icon>chevron_right</md-icon>
        </md-button>
    </div>
</md-card>