<md-card>
    <md-toolbar class="md-site-secondary">
        <div class="md-toolbar-tools">
            <h2>
                <span>View All Pages</span>
            </h2>
            <md-button href="/templates/new" class="md-icon-button" aria-label="New Page">
                <md-tooltip md-direction="right">
                    New Page
                </md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="md-padding">
        <div layout="row">
            <md-input-container flex>
                <label>Search</label>
                <input ng-model="vt.keywords" ng-change="vt.currentPage = 0">
            </md-input-container>
            <span flex></span>
            <md-input-container>
                <label>Per Page</label>
                <md-select ng-model="vt.pageSize">
                  <md-option ng-repeat="distance in [10, 25, 50, 100]" value="{{distance}}">
                    {{distance}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-icon-button md-primary" ng-class="{'disabled':vt.currentPage==0}" ng-click="vt.currentPage = vt.currentPage-1">
                <md-tooltip md-direction="bottom">
                    Back 1 page
                </md-tooltip>
                <md-icon>chevron_left</md-icon>
            </md-button>
            <h4><span>{{(vt.filteredList.length && vt.currentPage+1) || 0}} of {{vt.filteredList.length && vt.numPages() || 0}}</span></h4>
            <md-button class="md-icon-button md-primary" ng-class="{'disabled':vt.filteredList.length && vt.currentPage>=vt.numPages()-1}" ng-click="vt.currentPage = vt.currentPage+1">
                <md-tooltip md-direction="bottom">
                    Forward 1 page
                </md-tooltip>
                <md-icon>chevron_right</md-icon>
            </md-button> 
        </div>
    </div>

    <table class="table" ng-form="vt.tempForm">
        <thead>
            <tr>
                <th><a href="javascript:;" ng-click="vt.sortType = 'id'; vt.sortReverse = !vt.sortReverse">ID &nbsp; 
                    <md-icon ng-show="vt.sortType=='id' && !vt.sortReverse">expand_more</md-icon> 
                    <md-icon ng-show="vt.sortType=='id' && vt.sortReverse">expand_less</md-icon
                </a></th>
                <th><a href="javascript:;" ng-click="vt.sortType = 'draft'; vt.sortReverse = !vt.sortReverse">Draft &nbsp; 
                    <md-icon ng-show="vt.sortType=='draft' && !vt.sortReverse">expand_more</md-icon> 
                    <md-icon ng-show="vt.sortType=='draft' && vt.sortReverse">expand_less</md-icon
                </a></th>
                <th><a href="javascript:;" ng-click="vt.sortType = 'name'; vt.sortReverse = !vt.sortReverse">Name &nbsp; 
                    <md-icon ng-show="vt.sortType=='name' && !vt.sortReverse">expand_more</md-icon> 
                    <md-icon ng-show="vt.sortType=='name' && vt.sortReverse">expand_less</md-icon
                </a></th>
                <th><a href="javascript:;" ng-click="vt.sortType = 'updated_at'; vt.sortReverse = !vt.sortReverse">Updated &nbsp; 
                    <md-icon ng-show="vt.sortType=='updated_at' && !vt.sortReverse">expand_more</md-icon> 
                    <md-icon ng-show="vt.sortType=='updated_at' && vt.sortReverse">expand_less</md-icon
                </a></th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-if="vt.templates.length">
            <tr ng-repeat="template in vt.filteredList = (vt.templates | filter:vt.keywords) | orderBy:vt.sortType:vt.sortReverse | startFrom:vt.currentPage*vt.pageSize | limitTo: vt.pageSize">
                <td>{{template.id}}</td>
                <td>
                    <div class="btn-group" ng-click="template.draft = !template.draft; vt.setDraft(template)">
                        <a href="javascript:;" ng-show="template.draft" class="switch-on">Drafted</a>
                        <a href="javascript:;" ng-show="!template.draft">Undrafted</a>
                    </div>
                </td>
                <td>{{template.name}}</td>
                <td>{{template.updated_at | date: 'short'}}</td>
                <td> 
                    <md-content layout="row" layout-align="end center">
                        <md-button class="md-fab md-mini md-primary" href="" ng-click="vt.newReport(template, vt.tempForm)">
                            <md-tooltip md-direction="bottom">
                                New Report with {{template.name}}
                            </md-tooltip>
                            <md-icon>insert_drive_file</md-icon>
                        </md-button> 
                        <md-button class="md-icon-button md-mini md-primary" href="/templates/{{template.id}}">
                            <md-tooltip md-direction="bottom">
                                View
                            </md-tooltip>
                            <md-icon>search</md-icon>
                        </md-button> 
                        <md-button class="md-icon-button md-mini md-primary" href="/templates/{{template.id}}/edit">
                            <md-tooltip md-direction="bottom">
                                Edit
                            </md-tooltip>
                            <md-icon>create</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-mini md-warn" href="" ng-click="vt.delete(template, $event)">
                            <md-tooltip md-direction="bottom">
                                Delete
                            </md-tooltip>
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-content>
                </td>
            </tr>
        </tbody>
    </table>
</md-card>