<nav id="page-menu" class="navbar navbar-inverse">
  <div class="navbar-header">
    <ul class="nav navbar-left top-nav">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-file"></i> &nbsp; Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/templates/new"><i class="glyphicon glyphicon-plus"></i> &nbsp; New</a></li>
          <li><a href="#/templates"><i class="glyphicon glyphicon-search"></i> &nbsp; View All</a></li>
        </ul>
      </li>
      <li><input type="text" class="form-control pull-right" ng-model="keywords" placeholder="Page ID, Title, or 'Draft'" ng-model-options="{debounce: 1000}"></li>
    </ul>
  </div>
</nav>

<div class="text-center">
  <bgf-pagination collection="templates" url="'v1/templates'" url-params="urlParams"></bgf-pagination>
</div>

<!-- BEGIN TEMPLATES LIST -->
<div role="tablist" class="panel-group panel-carat" id="view-all-accordion">
  <div view-all-accordion class="panel panel-default" ng-repeat="template in templates">


    <!-- BEGIN SECTION HEADER -->
    <div class="panel-heading"
    data-toggle="collapse" 
    data-target="#collapse{{template.id}}" 
    data-parent="#view-all-accordion" 
    aria-controls="collapse{{template.id}}">
      <h4>{{template.name}} <small class="pull-right" ng-show="template.draft">Draft</small></h4>
    </div>
    <!-- END SECTION HEADER -->


    <!-- BEGIN SECTION INFO PANEL -->
    <div role="tabpanel" id="collapse{{template.id}}" class="panel-collapse collapse view-all-panel" aria-labelledby="heading{{template.id}}-tab">
      <div class="panel-body">
        <a href="#/templates/{{template.id}}" class="btn btn-link">View</a>
        <a href="#/templates/{{template.id}}/edit" class="btn btn-link">Edit</a>
      </div>
    </div>
    <!-- END SECTION INFO PANEL -->


  </div>
</div>
<!-- END TEMPLATES LIST -->