<md-card flex ng-form="vt.tempForm">
    <md-toolbar class="md-site-secondary">
        <div class="md-toolbar-tools">
            <h2>
                <span>Page</span>
            </h2>
        </div>
    </md-toolbar>

    <div layout="row" ng-show="vt.template.id">
        <md-menu-bar>
            <md-menu>
                <button ng-click="$mdOpenMenu()">
                    File
                </button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu()" href="/templates/{{vt.template.id}}/edit" aria-label="edit {{vt.template.name}}">
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()">New</md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="$mdCloseMenu()" href="/templates/new" aria-label="create new page">
                                        Page
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$mdCloseMenu()" href="/reports/new" aria-label="create new report">
                                        Report
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vt.newReport(vt.template, vt.tempForm)" aria-label="create new report with this page">
                                        Report with this Page
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-item>
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu()">View</md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="$mdCloseMenu()" href="/templates" aria-label="view all pages">
                                        All Pages
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$mdCloseMenu()" href="/reports" aria-label="view all reports">
                                        All Reports
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="vt.template.gs_url">
                                    <md-button ng-click="vt.view_sheet($event, vt.template)" aria-label="view google sheet for {{vt.template.name}}">
                                        Google Sheet for this Page
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="vt.delete($event, vt.template)" aria-label="delete {{vt.template.name}}">
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </md-menu-bar>
    </div>

    <div layout="row" layout-margin>
        <h3 class="md-headline">{{vt.template.name}}</h3>
    </div>
    
    <template-form-directive form="vt.template"></template-form-directive>
</md-card>

<md-button class="md-fab md-site-tertiary md-fab-site-bottom-right" href="/templates/{{vt.template.id}}/edit" aria-label="edit {{vt.template.name}}">
    <md-tooltip md-direction="left">
        Click to Edit
    </md-tooltip>
    <md-icon>edit</md-icon>
</md-button>