<md-card ng-form="vt.tempForm">
    <md-toolbar class="md-site-secondary">
        <div class="md-toolbar-tools">
            <h2>
                <span>Page</span>
            </h2>
        </div>
    </md-toolbar>
    <div class="form-header">
        <section>
            <ul class="nav top-nav">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/templates/new"><i class="glyphicon glyphicon-plus"></i> &nbsp; New</a></li>
                        <li><a href="/templates"><i class="glyphicon glyphicon-search"></i> &nbsp; View All</a></li>
                    </ul>
                </li>
                <li><a href="/templates/{{vt.template.id}}/edit">Edit</a></li>
            </ul>
        </section>
    </div>

    <div layout="row" layout-align="center center">
        <h2>{{vt.template.name}}</h2>
    </div>
    
    <template-form-directive form="vt.template"></template-form-directive>
</md-card>