
<div flash-alert="error" active-class="in" class="alert fade">
    <strong class="alert-heading">Whoops...</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>

<div flash-alert="success" active-class="in" class="alert fade">
    <strong class="alert-heading">Good news!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>

<div class="container-fluid">
  <nav ng-show="user.signedIn" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="glyphicon glyphicon-flash"></i>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left top-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sessor</a>
          <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
            <li><a href ng-click="goToDesktop()">Desktop</a></li>
            <li><a href ng-click="goToReports()">Reports</a></li>
            <li><a href ng-click="goToTemplates()">Templates</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right top-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">You</a>
          <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
            <li><a href ng-show="!user.signedIn" data-toggle="modal" data-target="#loginModal">Sign In</a></li>
            <li><a href ng-show="user.signedIn" ng-click="handleSignOut()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2" ng-show="!user.signedIn"></div>
	<div class="col-xs-12 col-sm-12 col-md-12 view-frame animate-view" ng-view bs-popover></div>
  </div>
</div>