<div id="site-nav-view">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyphicon glyphicon-flash"></i>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left top-nav">
          <li class="dropdown">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown">Sessor</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href="#/contact">Contact</a></li>
              <li><a href="#/support">Support</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right top-nav" ng-show="user.id">
          <li class="dropdown">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown">You</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href="#/desktop">Desktop</a></li>
              <li><a href="#/reports">Reports</a></li>
              <li><a href="#/templates">Templates</a></li>
              <li><a href="#/statistics">Statistics</a></li>
              <li>&nbsp;</li>
              <li><a href ng-click="signOut()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 col-sm-8 col-sm-offset-2 view-frame animate-view" autoscroll="true" ng-view bs-popover>
      </div>
    </div>
  </div>
</div>
