<!-- BEGIN ERROR DIVS -->
<div flash-alert="error" active-class="in" class="alert fade">
    <h4 class="alert-heading">Whoops...</h4>
    <span class="alert-message">{{flash.message}}</span>
</div>

<div flash-alert="success" active-class="in" class="alert fade">
    <h4 class="alert-heading">Good news!</h4>
    <span class="alert-message">{{flash.message}}</span>
</div>
<!-- END ERROR DIVS -->

<div id="site-nav-view">
  <div class="container-fluid" ng-show="user.id">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyphicon glyphicon-flash"></i>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left top-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sessor</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href="#/">Information</a></li>
              <li><a href="#/desktop">Desktop</a></li>
              <li><a href="#/reports">Reports</a></li>
              <li><a href="#/templates">Templates</a></li>
              <li><a href="#/statistics">Statistics</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right top-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">You</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href ng-show="user.id" ng-click="signOut()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
  	<div class="col-xs-12 col-sm-8 col-sm-offset-2 view-frame animate-view" ng-view bs-popover></div>
    </div>
  </div>
</div>
