<ng-include src="'main/menu.html'"></ng-include>

<loading></loading>

<div layout="column" layout-align="center center" class="view-frame animate-view">

    <!-- Main View Container -->
    <div ng-view flex layout="column" layout-gt-lg="row" layout-align="space around" layout-fill layout-wrap ng-if="user.signedIn"></div>
</div>

<md-card class="landing-page" layout="column" ng-show="false || !user.signedIn" ng-cloak>

    <newsletter ng-form="newsForm">
        <h2 class="md-headline">We're developing! Sign up to our newsletter and get perks when we go live.</h2>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-no-padding" flex>
                <label>Email</label>
                <input type="email" ng-model="nv.email" required="required">
            </md-input-container>
            <md-button ng-click="nv.newSubscribe(nv.email, newsForm)" ng-disabled="!newsForm.$valid" class="md-raised">
                Sign Up
            </md-button>
        </div>
    </newsletter>

    <div ng-if="!user.signedIn" class="approach">
        <div class="approach-text">
            <!-- <h2>
                <small class="verticalFlip">
                    <span>Hobbyist?</span>
                    <span>Scientist?</span>
                    <span>Teacher?</span>
                    <span>Researcher?</span>
                    <span>Athlete?</span>
                    <span>Tutor?</span>
                    <span>Investigator?</span>
                    <span>Doctor?</span>
                    <span>Accountant?</span>
                    <span>Professional?</span>
                    <span>Student?</span>
                    <span>Clerkr?</span>
                </small>
            </h2> -->
            <h2 class="green md-display-3">Clerkr</h2>
            <h3>Record, visualize, and share your data. Easy.</h3>
        </div>
        <%= image_tag 'skyline.png' if !Rails.env.development?  %>
    </div>

    <div id="about" layout="row" layout-align="space-around" layout-wrap>
        <span flex="90" layout-padding class="md-headline">We aim to provide...</span>
        <div flex="35">
            <h3 class="md-display-1">Designed Data</h3>
            <p class="md-subhead">Clerkr bases its services on the pages of data you create. Fine tune your process and increase productivity and efficiency.</p>
        </div>
        <div flex="35">
            <h3 class="md-display-1">Group Time</h3>
            <p class="md-subhead">Got a crew? Let's join forces. Got a business? We can help with that too: scheduling, appointments, client engagement, all integrated with your pages.</p>
        </div>
        <div flex="35">
            <h3 class="md-display-1">Growth</h3>
            <p class="md-subhead">All users start with a set amount of reports to create. This number will naturally increase over time, and can be expanded.</p>
        </div>
        <div flex="35">
            <h3 class="md-display-1">Nerding Out</h3>
            <p class="md-subhead">Take a break and reflect on our various charts and graphs. Save your visualizations and export the data for use elsewhere.</p>
        </div>
        <div flex="35">
            <h3 class="md-display-1">Individuals...</h3>
            <ul>
                <li>Keep track of hobbies, sports, exercise, research, anything you want.</li>
                <li>Use your pages for surveys.</li>
                <li>Create interactive and visually-appealing graphs; print, save, and export your data views.</li>
            </ul>
        </div>
        <div flex="35">
            <h3 class="md-display-1">Businesses...</h3>
            <ul>
                <li>Schedule employees and keep track of their time online.</li>
                <li>Use pages on your site and for online or kiosk-based customer submissions.</li>
                <li>Interact with customers in online appointments.</li>
                <li>Get combined and individual stats for the members in your group.</li>
            </ul>
        </div>
    </div>


    <div layout="row" layout-align="center center">
        <h4 id="copyright">&copy; 2016 Clerkr</h4>
    </div>

</md-card>