<ng-include src="'main/menu.html'"></ng-include>

<loading></loading>

<!-- Main View Container -->
<main class="view-animate-container">
    <div flex-gt-sm="70" flex-offset-gt-sm="15">
        <div flash-message="7500"></div>
        
        <!-- ng-view inserts angular views determined by routing -->
        <section ng-view class="view-animate view-frame" ng-if="user.signedIn"></section>
        
        <!-- Signed out view -->
        <md-card class="landing-page" ng-if="!user.signedIn">
            <md-toolbar class="md-site-secondary">
                <newsletter ng-form="newsForm" layout="row" layout-align="center center" layout-margin>
                    <md-input-container flex class="md-no-margin md-no-errors">
                        <label>Your email for our newsletter.</label>
                        <input type="email" name="email" ng-model="nv.email" ng-pattern="/^.+@.+\..+$/">
                    </md-input-container>
                    <md-button class="md-fab md-mini md-site-primary" ng-click="nv.newSubscribe(nv.email, newsForm)" ng-disabled="!newsForm.email.$touched || newsForm.email.$invalid" aria-label="sign up for the newsletter">
                        <md-icon>check</md-icon>
                    </md-button>
                </newsletter>
            </md-toolbar>
        
            <div class="approach">
                <div class="approach-text" layout="column" layout-margin layout-padding layout-fill>
                    <h2 class="cl-green">Clerkr</h2>
                    <span flex></span>
                    <div layout="row" layout-align="center end" class="approach-subtext-container">
                        <h3><em>Record, visualize, and share your data. Easy.</em></h3>
                    </div>
                    <!-- <span class="verticalFlipContainer">
                        <small class="verticalFlip">
                            <span>Hobbyist?</span>
                            <span>Scientist?</span>
                            <span>Teacher?</span>
                            <span>Researcher?</span>
                            <span>Athlete?</span>
                            <span>Tutor?</span>
                            <span>Investigator?</span>
                            <span>Doctor?</span>
                            <span>Accountant?</span>
                            <span>Professional?</span>
                            <span>Student?</span>
                            <span>Clerkr?</span>
                        </small>
                    </span> -->
                </div>
                <%= image_tag 'my-monkey.svg' %>
            </div>
        
            <div id="about" layout="row" layout-align="space-around" layout-wrap>
                <span flex="100" layout-padding layout-margin class="md-headline">We aim to provide...</span>
                <div flex="35">
                    <h3 class="md-display-1">Designed Data</h3>
                    <p class="md-subhead">Clerkr bases its services on the pages of data you create. Fine tune your process and increase productivity and efficiency.</p>
                </div>
                <div flex="35">
                    <h3 class="md-display-1">Group Time</h3>
                    <p class="md-subhead">Got a crew? Let's join forces. Got a business? We can help with that too: scheduling, appointments, client engagement, all integrated with your pages.</p>
                </div>
                <div flex="35">
                    <h3 class="md-display-1">Growth</h3>
                    <p class="md-subhead">All users start with a set amount of reports to create. This number will naturally increase over time, and can be expanded.</p>
                </div>
                <div flex="35">
                    <h3 class="md-display-1">Nerding Out</h3>
                    <p class="md-subhead">Take a break and reflect on our various charts and graphs. Save your visualizations and export the data for use elsewhere.</p>
                </div>
                <div flex="35">
                    <h3 class="md-display-1">Individuals...</h3>
                    <ul>
                        <li>Keep track of hobbies, sports, exercise, research, anything you want.</li>
                        <li>Use your pages for surveys.</li>
                        <li>Create interactive and visually-appealing graphs; print, save, and export your data views.</li>
                    </ul>
                </div>
                <div flex="35">
                    <h3 class="md-display-1">Businesses...</h3>
                    <ul>
                        <li>Schedule employees and keep track of their time online.</li>
                        <li>Use pages on your site and for online or kiosk-based customer submissions.</li>
                        <li>Interact with customers in online appointments.</li>
                        <li>Get combined and individual stats for the members in your group.</li>
                    </ul>
                </div>
            </div>
        
        
            <div layout="row" layout-align="center center">
                <h4 id="copyright">&copy; 2016 Clerkr</h4>
            </div>
        </md-card>
    </div>
</main>