<ng-include ng-if="user.signedIn" src="'main/menu.html'"></ng-include>

<loading></loading>

<div flash-message="7500"></div>

<!-- Main View Container -->
<main flex-gt-sm="70" flex-offset-gt-sm="15" class="view-animate-container" ng-if="user.signedIn">        
    <!-- ng-view inserts angular views determined by routing -->
    <div ng-view class="view-animate view-frame" layout-fill></div>
</main>

<md-sidenav user-menu layout="column" class="md-sidenav-right" md-component-id="user-menu">
    <md-card ng-if="user.signedIn">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{user.name}}</span>
                <span class="md-subhead">
                    Signed in via: {{(user.provider == 'google_oauth2' && 'Google') || ''}}
                    {{(user.provider == 'facebook' && 'Facebook') || ''}}
                    {{(user.provider == 'github' && 'Github') || ''}}
                </span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm"><img ng-src="{{user.image}}" /></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions ng-if="user.name=='Joe McCormick' || user.name == 'Clint Gardner'">
            <google-connect></google-connect>
        </md-card-actions>
    </md-card>
    <div contact ng-form="contactForm" layout="column" layout-padding>
        <md-input-container class="md-no-margin-bot">
            <label>Send us a message</label>
            <textarea ng-model="cv.message"></textarea>
        </md-input-container>
        <md-input-container class="md-no-margin-top" ng-if="!user.signedIn">
            <label>Email</label>
            <input name="email" type="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
        </md-input-container>
        <md-button ng-click="cv.newContact(user.email, cv.message);uv.closeMenu()" ng-disabled="!cv.message || (!user.signedIn && (!user.email || !contactForm['email'].$valid))" aria-label="send a message to clerkr">
            Submit
        </md-button>
    </div>
    <span flex></span>
    <div layout="column">
        <md-button ng-click="uv.closeMenu();authenticate('google')" class="md-raised md-primary" aria-label="sign in with google" ng-if="!user.signedIn">
            Sign in with Google
        </md-button>
        <md-button ng-click="uv.closeMenu();authenticate('github')" class="md-raised" aria-label="sign in with github" ng-if="!user.signedIn">
            Sign in with Github
        </md-button>
        <md-button ng-click="uv.closeMenu();authenticate('facebook')" class="md-raised md-accent" aria-label="sign in with facebook" ng-if="!user.signedIn">
            Sign in with Facebook
        </md-button>
        <md-button ng-click="uv.closeMenu();signOut()" class="md-raised md-warn" aria-label="sign out of clerkr" ng-if="user.signedIn">
            Sign Out
        </md-button>
    </div>
</md-sidenav>