<!-- Navigation -->
<ng-include src="'main/menu.html'"></ng-include>

<div id="wrapper">

  <div id="page-wrapper">
    <div class="view-frame animate-view" ng-view bs-popover></div>
  </div>

</div>