<!-- BEGIN ERROR DIVS -->
<div flash-alert="error" active-class="in" class="alert fade">
    <h4 class="alert-heading">Whoops...</h4>
    <span class="alert-message">{{flash.message}}</span>
</div>

<div flash-alert="success" active-class="in" class="alert fade">
    <h4 class="alert-heading">Good news!</h4>
    <span class="alert-message">{{flash.message}}</span>
</div>
<!-- END ERROR DIVS -->

<div id="site-nav-view">
  <div class="container-fluid" ng-show="user.id">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyphicon glyphicon-flash"></i>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left top-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sessor</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href="#/">Home</a></li>
              <li><a href="#/desktop">Desktop</a></li>
              <li><a href="#/reports">Reports</a></li>
              <li><a href="#/templates">Templates</a></li>
              <li><a href="#/statistics">Statistics</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right top-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.uid}}</a>
            <ul class="nav navbar-nav main-dropdown-nav dropdown-menu" role="menu">
              <li><a href ng-show="user.id" ng-click="signOut()">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
  	<div class="col-xs-12 col-sm-8 col-sm-offset-2 view-frame animate-view" ng-view bs-popover></div>
    </div>
  </div>
</div>


<!-- BEGIN SIGNED OUT JUMBOS -->
<div id="marketrons" ng-show="!user.id">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p class="lead">
        <a href="#/sign_up" class="btn btn-primary">Sign Up</a>
         Or 
        <a href="#/sign_in" class="btn btn-primary">Sign In</a>
      </p>
    </div>
  </div>

  <div class="jumbotron jumbotron-warning">
    <div class="container">
      <h1>What's inside...</h1>
      <ul class="lead list-unstyled col-xs-6">
        <li>A clean and simple user interface</li>
        <li>Fully-featured Template Builder</li>
        <li>Visual statistics</li>
        <li>User Groups with Business-oriented Logic</li>
      </ul>
      <ul class="lead list-unstyled col-xs-6">
        <li>Reporting with User-generated Templates</li>
        <li>Scheduling for Groups</li>
        <li>Online Customer Interaction</li>
        <li>Adaptable to Businesses' Unique Needs</li>
      </ul>
    </div>
  </div>

  <div class="jumbotron jumbotron-info">
    <div class="container">
      <h1>Try it out!</h1>
      <p class="lead">Give our Template Builder a test-drive.</p>
      <p><a href="#/demo" class="btn btn-primary">Go!</a></p>
    </div>
  </div>
</div>
<!-- END SIGNED OUT JUMBOS -->