<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://getbootstrap.com/examples/dashboard/#">Sessor</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="goToHome()" >Home</a></li>
        <li><a href ng-click="goToReports()" ng-show="user.id">Reports</a></li>
        <li><a href ng-click="goToTemplate()" ng-show="user.id">Template</a></li>
        <li class="dropdown" ng-controller="UserController">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">You <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	<li><a href="#/sign_in" ng-show="!user.id">Sign In</a></li>
        	<li><a href ng-click="signOut()" ng-show="user.id">Sign Out</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
<div class="view-frame animate-view" ng-view></div>