<ng-include ng-if="user.signedIn" src="'main/menu.html'"></ng-include>

<loading></loading>

<!-- Main View Container -->
<main class="view-animate-container" ng-if="user.signedIn">
    <div flex-gt-sm="70" flex-offset-gt-sm="15">
        <div flash-message="7500"></div>
        
        <!-- ng-view inserts angular views determined by routing -->
        <section ng-view class="view-animate view-frame"></section>

    </div>
</main>