<div flash-message="7500"></div>

<ng-include src="'main/menu.html'"></ng-include>

<loading></loading>

<main ng-view ng-if="user.signedIn" class="view-frame animate-view"></main>

<md-card class="landing-page" ng-show="false || !user.signedIn" ng-cloak>

    <newsletter>
        <div ng-form="newsForm">
            <h2>We're developing! Sign up to our newsletter and get perks when we go live.</h2>
            <div layout="row" layout="center center">
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" ng-model="nv.email" required="required">
                </md-input-container>
                <md-button ng-click="nv.newSubscribe(nv.email, newsForm)" ng-disabled="!newsForm.$valid" class="md-raised">
                    Sign Up
                </md-button>
            </div>
        </div>
    </newsletter>

    <article class="approach">
        <section>
            <h2>
                <small class="verticalFlip">
                    <span>Hobbyist?</span>
                    <span>Scientist?</span>
                    <span>Teacher?</span>
                    <span>Researcher?</span>
                    <span>Athlete?</span>
                    <span>Tutor?</span>
                    <span>Investigator?</span>
                    <span>Doctor?</span>
                    <span>Accountant?</span>
                    <span>Professional?</span>
                    <span>Student?</span>
                    <span>Clerkr?</span>
                </small>
            </h2>
            <h3>Record, visualize, and share your data. Easy.</h3>
        </section>
        <%= image_tag 'skyline.png' %>
    </article>

    <md-content layout="column" layout-gt-md="row" layout-align="space-around" layout-wrap class="md-primary md-hue-1">
        <div flex="35" layout-padding>
            <h3 class="md-display-1">Designed Data</h3>
            <p class="md-subhead">Clerkr bases its services on the pages of data you create. Fine tune your process and increase productivity and efficiency.</p>
        </div>
        <div flex="35" layout-padding>
            <h3 class="md-display-1">Group Time</h3>
            <p class="md-subhead">Got a crew? Let's join forces. Got a business? We can help with that too: scheduling, appointments, client engagement, all integrated with your pages.</p>
        </div>
        <div flex="35" layout-padding>
            <h3 class="md-display-1">Growth is Key</h3>
            <p class="md-subhead">All users start with a set amount of reports to create. This number will naturally increase over time, and can be expanded.</p>
        </div>
        <div flex="35" layout-padding>
            <h3 class="md-display-1">Nerd Out</h3>
            <p class="md-subhead">Take a break and reflect on our various charts and graphs. Save your visualizations and export the data for use elsewhere.</p>
        </div>
    </md-content>

    <md-content layout="row" layout-align="center center" layout-padding class="md-accent">
        <h3 id="about">Clerkr offers services for individuals and more for businesses.</h3>
    </md-content>
    
    <md-content layout="column" layout-gt-md="row" layout-align="space-around" layout-padding>
        <span flex="35">
            <h3 class="md-display-1">For individuals...</h3>
            <blockquote>
                <p class="md-subhead">Keep track of hobbies, sports, exercise, research, anything you can think of.</p>
                <p class="md-subhead">Use your pages for surveys.</p>
                <p class="md-subhead">Create interactive and visually-appealing graphs; print, save, and export your data views.</p>
            </blockquote>
        </span>
        <span flex="35">
            <h3 class="md-display-1">For businesses...</h3>
            <blockquote>
                <p class="md-subhead">Schedule employees and keep track of their time online.</p>
                <p class="md-subhead">Use pages on your site and for online or kiosk-based customer submissions.</p>
                <p class="md-subhead">Interact with customers in online appointments.</p>
                <p class="md-subhead">Get combined and individual stats for the members in your group.</p>
            </blockquote>
        </span>
    </md-content>

    <div layout="row" layout-align="center center">
        <h4 id="copyright">&copy; 2016 Clerkr</h4>
    </div>

</md-card>