<page-menu>
	<li><a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; Profile</a></li>
</page-menu>
<div class="paper row">
	<clerkr-registration>
		<form name="passForm">
			<div class="form-group">
				<input type="password" class="form-control imod" name="password" placeholder="Password" ng-model="regForm.password" required="required">
				<ul class="h4">
					<li>must be at least 8 characters</li>
					<li>must contain 1 letter</li>
					<li>must contain 1 number</li>
					<li>may contain: !@#$%^&amp;*()_+</li>
				</ul>
			</div>
			

			<div class="form-group">
				<input type="password" class="form-control imod" name="password_confirmation" placeholder="Confirm Password" ng-model="regForm.password_confirmation" required="required">
			</div>


			<a href="javascript:;" class="btn btn-primary pull-right" ng-click="subPass()" ng-disabled="!passForm.$valid">Update Password<loading></loading></a>
		</form>
	</clerkr-registration>
</div>