<md-menu ng-form="newFieldAddForm" layout="row" layout-align="center center">
    <!-- Trigger element is a md-button with an icon -->
    <md-button ng-click="$mdOpenMenu($event)" class="md-raised" aria-label="select new field to add">
        <md-icon>add</md-icon> Add Field
    </md-button>
    <md-menu-content width="4" layout-padding>
        <md-menu-item>
            <md-input-container>
                <label>Field Name</label>
                <input name="newFieldName" ng-model="form.newFieldName" />
                <div ng-messages="newFieldAddForm['newFieldName'].$error" ng-show="!form.newFieldName">
                    <div ng-message="required">This field is required.</div>
                </div>
            </md-input-container>
        </md-menu-item>
        <md-menu-item ng-repeat="type in form.addFieldTypes">
            <md-button ng-click="$mdCloseMenu();form.newFieldAddTab=0;form.addField(section.i, $parent.$index+1, type)" aria-label="add {{type.value}} field to {{section.n || 'section '+section.i}}, column {{column_id+1}}" ng-disabled="!form.newFieldName">
                <md-icon class="md-icon-site-secondary">{{type.glyphicon}}</md-icon> {{type.value}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>