<div layout="row"  class="section-options">
    <md-input-container flex>
        <label>Section Name (Optional)</label>
        <input type="text" id="section-{{section.i}}-name" ng-model="section.n" ng-click="form.sO=section">
    </md-input-container>
    <div flex>
        <md-button ng-click="form.moveSection($index, $index-1)" class="md-icon-button" ng-disabled="form.sections.length <= 1" aria-label="switch with section above">
            <md-tooltip md-direction="top">
                Switch with section above
            </md-tooltip>
            <md-icon>arrow_upward</md-icon>
        </md-button>
        <md-button ng-click="form.moveSection($index, $index+1)" class="md-icon-button" ng-disabled="form.sections.length <= 1" aria-label="switch with section below">
            <md-tooltip md-direction="top">
                Switch with section below
            </md-tooltip>
            <md-icon>arrow_downward</md-icon>
        </md-button>
        <md-button ng-click="form.deleteSectionColumn(section)" class="md-icon-button" ng-disabled="section.c == 1" aria-label="remove column from {{section.n || 'Section ' + section.i}}">
            <md-tooltip md-direction="top">
                Remove column from {{section.n || 'Section ' + section.i}}
            </md-tooltip>
            <md-icon>remove</md-icon>
        </md-button>
        <md-button ng-click="form.addSectionColumn(section)" class="md-icon-button" ng-disabled="section.c == 3" aria-label="add column to {{section.n || 'Section ' + section.i}}">
            <md-tooltip md-direction="top">
                Add column to {{section.n || 'Section ' + section.i}}
            </md-tooltip>
            <md-icon>add</md-icon>
        </md-button>
        <span flex="5"></span>
        <md-button ng-click="form.deleteSection($event, section)" class="md-icon-button md-warn" aria-label="delete {{section.n || 'Section ' + section.i}}">
            <md-tooltip md-direction="left">
                Delete {{section.n || 'Section ' + section.i}}
            </md-tooltip>
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</div>