<h1 class="page-header">Statistics</h1>

<h4>Template</h4>
<p><select class="form-control" ng-model="search.template" ng-options="template.name for template in dataProps.templates" onblur="listFields()"></select></p>

<div role="tablist" class="panel-group" id="statistics-search-accordion">
	<div class="panel panel-info">

		<!-- BEGIN SECTION HEADER -->
		<div class="panel-heading statistics-search-header"
		data-toggle="collapse" 
		data-target="#statistics-search" 
		data-parent="#statistics-search-accordion" 
		aria-controls="statistics-search"
		id="statistics-search-accordion-header">
			<h4 class="panel-title">
				Search Options
			</h4>
		</div>
		<!-- END SECTION HEADER -->


		<!-- BEGIN SECTION INFO PANEL -->
		<div role="tabpanel" id="statistics-search" class="panel-collapse collapse" aria-labelledby="statistics-search-tab">
			<div class="panel-body">
				<form class="form-search" ng-init="dateSearch = false">
					<div ng-show="labels">
						<h4>Field</h4>
						<div class="input-group">
							<select class="form-control" ng-model="search.field" ng-options="field.name for field in dataProps.fields"></select>
							<span class="input-group-btn">
								<a href class="btn btn-primary stats-button" ng-click="showData()">Select</a>
							</span>
						</div>
					</div>
					<a href ng-click="dateSearch=!dateSearch">Date</a> <a href ng-click="timeSearch='searchDateTime'">Date & Time</a> 
					<div ng-show="dateSearch">
						<div class="grid-column">
							<h4>Start Date</h4>
							<input type="date" min="2001-01-01" max="2019-12-31" placeholder="yyyy-MM-dd" class="form-control" ng-model="dataProps.startDate">
						</div>
						<div class="grid-column">
							<h4>End Date</h4>
							<input type="date" min="2001-01-01" max="2019-12-31" placeholder="yyyy-MM-dd" class="form-control" ng-model="dataProps.endDate">
						</div>
					</div> 
					<div ng-show="timeSearch == 'searchDateTime'">
						<div class="grid-column">
							<h4>Start Date</h4>
							<input type="datetime-local" min="2001-01-01T00:00:00" max="2019-12-31T00:00:00" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control" ng-model="dataProps.startDate">
						</div>
						<div class="grid-column">
							<h4>End Date</h4>
							<input type="datetime-local" min="2001-01-01T00:00:00" max="2019-12-31T00:00:00" placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control" ng-model="dataProps.endDate">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- <div ng-show="data" class="lead">
	<h4>Graph Type</h4>
	<div class="btn-group btn-group-justified">
		<a href class="btn btn-success" ng-click="graphType(graphtype)" ng-repeat="graphtype in ['pie','doughnut','polar-area','line','bar','radar']">{{graphtype}}</a>
	</div>
</div> -->
<!-- <canvas insert-canvas graphtype="graphtype" data="data" labels="labels"></canvas>
 -->
<!-- <div ng-show="graphtype == type" ng-repeat="type in ['pie','doughnut','polar-area']">
	<canvas id="{{type}}" ng-attr-class="chart chart-{{type}}" ng-attr-data="pie" labels="labels" legend="true"></canvas>
</div>
<div ng-show="graphtype == type" ng-repeat="type in ['line','bar','radar']">
	<canvas id="{{type}}" ng-attr-class="chart chart-{{type}}" ng-attr-data="line" labels="labels" legend="true"></canvas>
</div> -->


<!-- <div ng-show="needLegend" class="col-md-2">
	<canvas class="chart chart-pie hide col-md-2 pull-left" data="pie" labels="labels" legend="true">
</div>
<canvas ng-show="graphtype == 'pie'" id="pie" class="chart chart-pie" data="pie" labels="labels"></canvas>
<canvas ng-show="graphtype == 'doughnut'" id="doughnut" class="chart chart-doughnut" data="pie" labels="labels"></canvas>
<canvas ng-show="graphtype == 'polar-area'" id="polar-area" class="chart chart-polar-area" data="pie" labels="labels"></canvas>

<canvas ng-show="graphtype == 'line'" id="line" class="chart chart-line" data="line" labels="labels"></canvas>
<canvas ng-show="graphtype == 'bar'" id="bar" class="chart chart-bar" data="line" labels="labels"></canvas>
<canvas ng-show="graphtype == 'radar'" id="radar" class="chart chart-radar" data="line" labels="labels"></canvas> -->