<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">New around here?</p>
  <p><a href class="btn btn-primary" data-toggle="modal" data-target="#userRegistrationModal">Register</a></p>
  <p class="lead">Or</p>
  <a href class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Sign In</a>
</div>

<!-- TOP LEVEL MODALS -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-signin" role="form" ng-init="loginForm = {}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sign in to Sessor</h4>
        </div>
        <div class="modal-body">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" class="form-control" name="email" id="email" ng-model="loginForm.email" required="required" placeholder="Email">
          <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" name="password" id="password" ng-model="loginForm.password" required="required" placeholder="Password">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me" ng-model="loginForm.remember"> Remember me
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-primary btn-block" ng-click="submitLogin(loginForm)" data-dismiss="modal">Sign in</button>
          <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal" ng-bootbox-prompt="Please enter your email..." ng-bootbox-prompt-action="handleForgotPass(result)">Forgot Password</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="userRegistrationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-signin" ng-controller="UserRegistrationController" ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create an Account</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" ng-model="registrationForm.email" required="required" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="registrationForm.password" required="required" class="form-control">
            8 or more characters required.
          </div>

          <div class="form-group">
            <label for="password_confirmation">Password Confirmation</label>
            <input type="password" name="password_confirmation" id="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Complete Registration</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="forgotPassModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Your Email</label>
            <input type="email" name="email" id="email" ng-model="fpemail" required="required" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-lg" ng-click="handleForgotPass()">Request password reset</button>
        </div>
      </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->