/* Sessor Main CSS File
 * Authors: Joe McCormick
 * Last Updated: 7-25-15
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/*
 * Mixin Settings
 */

$mini: 20em;
$mobile: 30em;
$tablet: 48em;
$desktop: 60em;

@mixin respond($media) {
 @if $media == mini {
  @media screen and (min-width: $mini) {
   @content
  }
 }
 @if $media == mobile {
  @media screen and (min-width: $mobile) {
   @content
  }
 }

 @else if $media == tablet {
  @media screen and (min-width: $tablet) {
   @content
  }
 }

 @else if $media == desktop {
  @media screen and (min-width: $desktop) {
   @content
  }
 }
}

/*
 * General Site
 */

body {
  font-family: 'Open Sans', sans-serif !important;
  margin-top: 100px;
  background-color: #aaa !important;

  @include respond(mobile) {
    margin-top: 150px;
  }
}
.btn:not(.btn-sm),
.btn:not(.btn-lg) {
  height: 34px;
}

button.close {
  font-size: 30px;
  margin-right: 3px;
}
.btn.active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.ng-hide {
  display: none!important;
}
.page-header {
  border-bottom-color: black !important;
}
.panel-heading {
  cursor: pointer;
  word-wrap: break-word;
}

@media (min-width: 768px) {

  .modal {
    text-align: center;
  }

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

/*
 * Flash Error Messages
 */

.flash-alerts {
  position: fixed !important;
  z-index: 3 !important;
  margin-top:20px !important;

  span[dynamic="flash.text"] {
    padding: 10px 0 0;
    font-size: 16px;
  }

  button.close {
    position: absolute !important;
    top: 10px !important;
    right: 20px !important;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  .alert-error {
    background-color: #FFBFBF;
    border-radius: 5px;
  }
}

/*
 * Breadcrumbz
 */

.view-reports-crumbs {
  display: inherit;
}

.edit-report-crumbs {
  background-color: white !important;
  padding: 0 !important;
  border-radius: 0 !important;
  margin-top: 40px;
  padding: 10px 0 !important;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);

  @include respond(mobile) {
    margin-top: 20px;
  }
}

/*
 * Paper
 */

.paper {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);

  @include respond(mobile) {
    padding: 35px 45px;
  }
}

/*
 * Page Design
 */

.template-options {
  color: #aaa;
  background-color: #222;
  position: fixed;
  top: 101px;
  bottom: 0;
  right: 0;
  width: 225px;
  overflow-y: auto;
  -webkit-box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  z-index: 8;

  @include respond(tablet){
    z-index: 6;
  }

  
  .nav {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 1);
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 1);

    input[type='checkbox'] {
      margin-top: 2px;
    }

    &:nth-child(2) {
      z-index: 3 !important;
    }
  }

  .input-group-btn .btn {
    margin-top: 2px;
  }
}


/* 
 * Template and Field Display
 */

.required-error {
  color:red;
  font-size: smaller;
}
.form-field-label {
  display: inline;
}
template-form-directive .form-group {
  position: relative;

  textarea[type='text'] {
    max-width: 100%;
  }

  p {
    word-wrap: break-word;
  }
}
.field-overlay {
  content: '&nbsp;';
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  outline: 2px dashed #aaa;
  border: 5px;
  z-index: 2;
  background:rgba(0,0,0,.1);
  cursor: alias;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;

  .close {
    color: red !important;
    margin: 3px;
    z-index: 10;
    opacity: .64;
  }

  &:hover {
    opacity: 1;
  }
}

/* 
 * Statistics 
 */

canvas#pie {
  margin-right:0;

  @include respond(mobile) {
    padding: 0;
  }
}

.chart-legend, .bar-legend, .line-legend, .pie-legend, .radar-legend, .polararea-legend, .doughnut-legend {
  list-style-type: none;
  position:absolute;
  top: 0;
  left: 0;
  padding:0;

  li {
    white-space: inherit;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: smaller;
    cursor: default;
    word-wrap:break-word;
    width: 90px;

    @include respond(mobile) {
      width:200px;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
  }
}
.chart-underlay {
  padding: 15px;
  background-color: #31b0d5; 
  border-radius: 10px;
}