/* Put your CSS here */
$mini: 20em;
$mobile: 30em;
$tablet: 48em;
$desktop: 60em;

@mixin respond($media) {
 @if $media == mini {
  @media screen and (min-width: $mini) {
   @content
  }
 }
 @if $media == mobile {
  @media screen and (min-width: $mobile) {
   @content
  }
 }

 @else if $media == tablet {
  @media screen and (min-width: $tablet) {
   @content
  }
 }

 @else if $media == desktop {
  @media screen and (min-width: $desktop) {
   @content
  }
 }
}
/* Site Maintenance settings */
.alert {
  position: absolute;
}
.alert.in {
  z-index: 1032;
  top:5%;
  left:25%; 
  right:25%;
}

.jumbotron {
  margin:0 auto!important;
  background:none;
}
.jumbotron h1, .jumbotron .h1 {
  font-size: 32px;
  @include respond(tablet) {
    font-size: 72px;
  }
}

.nav > li > a:not(.open) {
  font-size: 18px!important;
}

.navbar-toggle {
  color: #FFF;
  border:0!important;
}
.main-dropdown-nav:not(.open) {
  background-color: #090909;
  border:0;
}
.main-dropdown-nav > li > a {
  width:160px;
  color: #AAA;
  margin:0 20px;
}
.navbar-header > .navbar-toggle {
  margin-top: 8px;
  @include respond(mobile) {
    margin-top: 16px;
  }
}

/* Sticky toolbar for form builder */
.stick {
  position:fixed !important;
  top:0;
  margin-top:8px;
  margin-left: -15px;
  z-index: 1031;
  @include respond(mini) {
    left: 2%;
  }
  @include respond(mobile) {
    left: 15%;
    margin-top: 16px;
  }

  @include respond(tablet) {
    left: 26%;
  }
}
.stick > .btn-group-justified {
  width: 123%;
  @include respond(mobile) {
    width: 100%;
  }
}
.stick > .btn-group-justified > .btn {
  padding: 6px 2px;
  @include respond(mobile) {
    padding: 6px 12px;
  }
}

.glyphicon-pencil {
  color: #aaa;
}
.ng-hide {
  display: none!important;
}
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Set height of interior button within an input group*/
.input-group-btn:last-child > .btn-danger {
  height: 34px;
}
.top-nav {
  margin: 7.5px 15px !important;
}
.panel-heading {
    cursor: pointer;
    word-wrap: break-word;
}
.panel-carat .template-section-header:hover {
    text-decoration: none;
}
.panel-carat .template-section-header:hover span,
.panel-carat .template-section-header:hover strong {
    text-decoration: underline;
}
.panel-carat .template-section-header:before {
    font-family: "Glyphicons Halflings";
    font-size: 25px;
    margin-right: 10px;
    vertical-align: -3px;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.panel-carat .template-section-header:not(.collapsed):before {
    content: "\e082";
    display: inline-block;
}
.panel-carat .template-section-header.collapsed:before {
    content: "\e081";
    display: inline-block;
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
}
@media (max-width: 767px) {
  .navbar .container-fluid {
    padding:0 5px ;
  }
  .view-frame {
    padding:15px;
  }
  .main-dropdown {
    display: block !important;
  }
}
@media (min-width: 768px) {
  /* Push "Sessor" and Login/Logout arrow towards center of site navigation */
  .navbar-fixed-top {
    padding: 0 100px!important;
  }
  .modal {
    text-align: center;
  }
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

/* Bootstrap Home */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    position: fixed !important;
    top: 51px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Bootstrap SignIn */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow  hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p, .marketing h4 {
  margin-top: 28px;
}

.add-field {
  text-align: center;
}

.add-field select {
  margin-bottom: 0px;
}

.form-fields .accordion-group{
  border: 1px solid #AAAAAA;
}

.form-fields .accordion-heading{
  background-color: #E2E2E2;
}

.accordion-edit div, .field div{
  line-height: 35px;
}

.form-properties .row {
  line-height: 35px;
}

.form-field-label {
  display: inline;
}

.required-error {
  color:red;
  font-size: smaller;
}
