/* Sessor Main CSS File
 * Authors: Joe McCormick
 * Last Updated: 10-13-15
 */

/* 
 * Mixin Settings
 */

$cl-xs: 600px;
$cl-sm: 960px;
$cl-md: 1280px;
$cl-lg: 1920px;

@mixin respond($media) {
    @if $media == mobile {
        @media screen and (min-width: $cl-xs) {
            @content
        }
    }
    @if $media == tablet {
        @media screen and (min-width: $cl-sm) {
            @content
        }
    }

    @else if $media == desktop {
        @media screen and (min-width: $cl-md) {
            @content
        }
    }

    @else if $media == xl-desktop {
        @media screen and (min-width: $cl-lg) {
            @content
        }
    }
}

/*
 * General Site
 */

body {
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden !important;
}
.ng-leave,
.ng-hide {
    display: none !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey !important;
}
.table {
    th[ng-click] {
        cursor: pointer;
    }
}

.cl-green {
    color: forestgreen;
    font-family: 'Special Elite';
    text-decoration: none;
}

/*
 * Material Design Additions
 */
 
$site-color-primary: rgb(173,199,106);
$site-color-secondary: rgb(137,160,79);
$site-color-tertiary: rgb(84,102,40);

.md-site-primary {
    background-color: $site-color-primary !important;
}
.md-site-secondary {
    background-color: $site-color-secondary !important;
}
.md-site-tertiary {
    background-color: $site-color-tertiary !important;
}
.md-icon-site-primary {
    color: $site-color-primary !important;
}
.md-icon-site-secondary {
    color: $site-color-secondary !important;
}
.md-icon-site-tertiary {
    color: $site-color-tertiary !important;
}
.md-site-alert {
    color: rgb(102,178,255) !important;
}
.cl-desktop-fab-align {
    margin: 60px 0 0 !important;
}
.md-no-margin-top {
    margin-top: 0;
}
.md-no-margin-bot {
    margin-bottom: 0;
}
.md-site-top-nav {
    .material-icons,
    .md-button {
        color: white;
    }
}
.md-fab-site-bottom-right {
    right: 20px !important;
    bottom: 20px !important;
    position: fixed !important;
}

/*
 * Flash Messages
 */

.alert {
    max-height: 0;
    &.customAlert {
        display: table;
        position: fixed;
        border: 1px solid #8A6D3B;
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 0 10%;
        top: 0;
        z-index: 9999;

        @include respond(tablet) {
            width: 50%;
            margin: 0 25%;
            padding: 0 50px 10px;
        }
    }
    &.alertIn {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -moz-transition: -moz-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition: -o-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition: transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &.alertIn.ng-hide-remove {
        opacity: 0;
        -webkit-transform:translateY(-200%);
        -moz-transform:translateY(-200%);
        transform:translateY(-100%);
    }
}

/* 
 * Template and Field Display
 */

.section-options {
    background-color: #eee;
    border-bottom: 5px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.new-field-add {
    background-color: #eee;
    border-top: 5px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.cl-field-add,
.cl-selected-field-options {
    margin-top: 15px;
    margin-bottom: 15px;
}

.field-options {
    overflow: hidden;

    &.ui-draggable {
        position: fixed !important;
        opacity: .3;
        padding: 0;
        z-index: 50;
        width: 32.3%;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -moz-transition: opacity 1s ease;
        transition: opacity 1s ease;
        .cl-selected-field-options {
            margin: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
    &:not(.ui-draggable) {
        position: static !important;
    }

    .cl-selected-field-options {
        background-color: #eee;

        .drag-bar {
            display: block;
            position: relative;
            height: 25px;
            content: '';
            background: $site-color-tertiary;
        }
    }
}
.md-container-parent {
    position: relative;
}

md-checkbox.md-checked.green .md-icon {
    background-color: rgba(0, 255, 0, 0.87);
}
md-checkbox.md-checked[disabled].red .md-icon {
    background-color: rgba(255, 0, 0, 0.26);
}

.cl-selected-field-options md-input-container,
.md-no-errors {
    
    margin-top: 0;

    .md-errors-spacer {
        min-height: 0;
    }
}

.tooltip {
    position: initial;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;

    &.ng-hide,
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        bottom: 26px;
        opacity: 0; }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
        bottom: 7px;
        opacity: 1;
    }
}

template-form-directive {

    md-checkbox {
        margin-bottom: 0;
    }
    md-select {
        margin-top: 0;
    }
    md-datepicker {
        margin-top: -6px;
    }
    template-field-directive {
        position: relative;

        .required {
            color: red;
            font-size: 12px;
        }

        .cust-start {
            md-input-container {
                margin-left: 6px;
            }
            margin-bottom: 18px;
        }

        .editing {
            .labeltext-wrap {
                margin-top: 7px;
            }
            .checkbox-wrap {
                margin-top: 9px;
            }
            .radio-wrap {
                margin-top: 8px;
            }
            .date-wrap {
                margin-top: 7px;
            }
            .dropdown-wrap {}
        }

        .cust-tooltip {
            position: relative;
            font-size: 11px;
            margin: 5px 0 0 2px;
        }
        .field-overlay {
            background-color: rgba(137,160,79,.1);


            &.force-hover {
                background-color: $site-color-secondary !important;

                md-icon {
                    color: white;
                }
            }
        }
    }
}

/*
 * Landing
 */

newsletter {
    label {
        color: white;
        font-size: initial;
    }
}

.approach {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
    }

    .approach-text {
        position: absolute;

        .cl-green {
            background-color: rgba(80,100,40,.35);
            padding: 15px 10px 10px;
        }

        .approach-subtext-container {
            color: white;
            text-transform: uppercase;
            text-shadow: 2px 2px 5px black;
            background-color: rgba(84,102,40, .75);
            text-align: center;
            padding: 0 20%;
            font-size: small;

            @include respond(mobile){ font-size: 22px }
            @include respond(tablet){ font-size: 37px }
            @include respond(desktop){ font-size: 50px }
            @include respond(xl-desktop){ font-size: 76px }
        }
    }
}

#about {
    .aim {
        text-transform: uppercase;
        text-align: center;
    }

    .md-title {
        color: #555;
        font-weight: 700 !important;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .md-subhead,
    ul {
        margin-top: 0;
        padding-top: 0;
    }
    ul {
        margin-left: 0;
    }
}

/*
 * Animate View Frame
 */

.view-animate-container {
    position:relative;
}
.view-animate {
    position: absolute;
}


.view-animate.ng-enter {
    animation: slideInLeft 0.4s both ease;
    .md-fab-site-bottom-right {
        max-height: 0 !important;
        animation: fadeIn 9999s both ease;
    }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes slideInLeft {
    from { transform: translateX(200%); }
    to { transform: translateX(0); }
}

.view-animate.ng-leave {
    display: block !important;
    animation: slideOutLeft 0.5s both ease;
    .md-fab-site-bottom-right {
        display: none;
    }
}

@keyframes slideOutLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-200%); }
}

.ng-stats {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    padding: 15px;
    z-index: 9999;
}
