/* Sessor Main CSS File
 * Authors: Joe McCormick
 * Last Updated: 7-25-15
 */



/* @import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
 * Mixin Settings
 */

$mini: 20em;
$mobile: 30em;
$tablet: 48em;
$desktop: 60em;

@mixin respond($media) {
 @if $media == mini {
  @media screen and (min-width: $mini) {
   @content
  }
 }
 @if $media == mobile {
  @media screen and (min-width: $mobile) {
   @content
  }
 }

 @else if $media == tablet {
  @media screen and (min-width: $tablet) {
   @content
  }
 }

 @else if $media == desktop {
  @media screen and (min-width: $desktop) {
   @content
  }
 }
}

/*
 * General Site
 */

body {
  font-family: 'Open Sans', sans-serif !important;
  margin-top: 100px;
  background-color: #aaa !important;

  @include respond(mobile) {
    margin-top: 150px;
  }
}
.navbar-header {
  float: none !important;
}
button.close {
  font-size: 30px;
  margin-right: 3px;
}
input::-ms-clear {
  display: none;
}
blockquote {
  white-space: pre-wrap;
}
.ng-hide {
  display: none!important;
}
.required-error {
  color:red;
  font-size: smaller;
}
.btn:not(.btn-sm),
.btn:not(.btn-lg) {
  height: 34px;
}
.btn.active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.page-header {
  border-bottom-color: black !important;
}
.panel-heading {
  cursor: pointer;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .modal {
    text-align: center;
  }

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

/*
 * Flash Messages
 */

.alert {
  max-height: 0;
  &.customAlert {
    display: inline-table;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    padding: 15px 30px 15px 15px;
    width: 80%;
    position: fixed;
    margin: 0 10%;
    top: 0;
    z-index: 9999;

    @include respond(tablet) {
      width: 50%;
      margin: 0 25%;
      padding: 20px 50px 20px 30px;
    }
  }
  &.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -moz-transition: -moz-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: -o-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &.alertIn.ng-hide-remove {
    opacity: 0;
    -webkit-transform:translateY(-200%);
    -moz-transform:translateY(-200%);
    transform:translateY(-100%);
  }
  &.alertOut.ng-hide-add {   
    opacity: 1;
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    transform:translateY(0px);
  }

  span[dynamic="flash.text"]:before {
    content: "\a\a";
    white-space: pre;
  }

  &[class*="alert-"]:before {
    font-weight: bold;
    font-size: 14px;

    @include respond(mobile) {
      font-size: 20px;
    }

    @include respond(desktop) {
      font-size: 26px;
    }
  }

  &.alert-danger:before {
    content: "Something went wrong...";
  }

  &.alert-success:before {
    content: "Everything worked out after all...";
  }

  &.alert-info:before {
    content: "Just some notes...";
  }
}

/*
 * Breadcrumbz
 */

.edit-report-crumbs {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #555 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 20px 20px !important;
  font-size: 16px;
  text-transform: capitalize;
  display: block;

  h3,
  a:not(.btn-primary) {
    color: #aaa;
  }

  @include respond(tablet) {
    left: 225px;
  }

  @include respond(desktop) {
    display: none;
  }

  &:hover {
    background-color: #222 !important;
    cursor: pointer;
  }
}

/*
 * Paper
 */

.paper {
  padding: 15px 20px;
  background-color: white;
  -webkit-box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow:  0 5px 25px 2px rgba(0, 0, 0, 0.4);
  
  &.row {
    margin: 0 20px 20px;
  }

  h1 {
    white-space: pre;
    word-wrap: break-word;
  }

  @include respond(tablet) {
    &.row {
      margin: 30px 20px;
    }
    padding: 35px 45px;
  }
}
.paper-width {
  @include respond(desktop) {
    width: 100% !important;
    padding-right: 225px !important;
  }
}
.paper-height {
  margin-bottom: 110px;

  @include respond(desktop) {
    margin-bottom: 0;
  }
}


/*
 * Reports
 */
.add-template-list {

  .add-template-list-section {
    display: none;
    z-index: 20;
    position: fixed;
  }

  &:hover {
    .add-template-list-section {
      display: block;
    }
  }
}

/*
 * Page Design
 */

.template-options {
  color: #aaa;
  background-color: #666;
  position: fixed;
  top: 102px;
  bottom: 0;
  right: 0;
  width: 70%;
  padding: 0;
  overflow-y: auto;
  -webkit-box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  box-shadow: 5px 10px 25px 2px rgba(0, 0, 0, 1);
  z-index: 8;


  &.report-pages {
    display: none;

    a:not(.btn-primary) {
      color: #aaa;
      text-decoration: none !important;
      word-wrap: nowrap;
    }

    .navbar-text {
      float: none;
    }
  }

  @include respond(tablet){
    width: 225px;
    z-index: 6;
  }

  @include respond(desktop){
    &.report-pages {
      display: block;
    }
  }

  textarea {
    margin: 2px;
    resize: vertical;
  }

  .nav {
    padding: 15px;
    background-color: #555;
    -webkit-box-shadow: 0 5px 25px -2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 25px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 25px -2px rgba(0, 0, 0, .5);

    input,
    textarea {
      margin: 0;
    }

    @include respond(tablet) {
      padding: 0;
    }
  }

  .input-group {
    padding: 5px 0;

    a.btn {
      margin: 0;
    }
  }

  .navbar-inverse {
    background-color: #444;
  }
}


/* 
 * Template and Field Display
 */

.section-row {

  h3 {

    hr {
      margin-top: 0;
    }

    &:not(.no-highlight) {
      cursor: alias;

      &:hover,
      &.force-hover {
        box-shadow: 0 -5px 0 #aaa;
      }
    }
  }

}
template-form-directive .form-group {
  position: relative;

  textarea {
    height: 107px;
    resize: vertical;
  }

  label {
    word-wrap: break-word;
    width: 80%;
  }

  p {
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    margin-top: 0;
    text-indent: 0;
    color: #484848;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5em;
  }

  .form-field-label {
    display: inline;
  }

  .ng-invalid-required.ng-touched {
    background-color: #f2dede;
  }


  .field-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: alias;

    &:hover,
    &.force-hover {
      box-shadow: 0 -5px 0 #aaa;
    }
  }
}
template-field-directive {
  
  blockquote {
    word-wrap: break-word !important;
  }
}

/* 
 * Statistics 
 */

canvas#pie {
  margin-right:0;

  @include respond(mobile) {
    padding: 0;
  }
}

.chart-legend, .bar-legend, .line-legend, .pie-legend, .radar-legend, .polararea-legend, .doughnut-legend {
  list-style-type: none;
  position:absolute;
  top: 0;
  left: 0;
  padding:0;

  li {
    white-space: inherit;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: smaller;
    cursor: default;
    word-wrap:break-word;
    width: 90px;

    @include respond(mobile) {
      width:200px;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
  }
}
.chart-underlay {
  padding: 15px;
  background-color: #31b0d5; 
  border-radius: 10px;
}