/* Sessor Main CSS File
 * Authors: Joe McCormick
 * Last Updated: 10-13-15
 */

/* 
 * Mixin Settings
 */

$mini: 20em;
$mobile: 30em;
$tablet: 48em;
$desktop: 60em;

@mixin respond($media) {
    @if $media == mini {
        @media screen and (min-width: $mini) {
            @content
        }
    }
    @if $media == mobile {
        @media screen and (min-width: $mobile) {
            @content
        }
    }

    @else if $media == tablet {
        @media screen and (min-width: $tablet) {
            @content
        }
    }

    @else if $media == desktop {
        @media screen and (min-width: $desktop) {
            @content
        }
    }
}

/*
 * Material Design Additions
 */

.cl-green {
    color: forestgreen;
}
 
$site-color-primary: rgb(173,199,106);
$site-color-secondary: rgb(137,160,79);
$site-color-tertiary: rgb(84,102,40);

.md-site-primary {
    background-color: $site-color-primary !important;
}
.md-site-secondary {
    background-color: $site-color-secondary !important;
}
.md-site-tertiary {
    background-color: $site-color-tertiary !important;
}
.md-icon-site-primary {
    color: $site-color-primary !important;
}
.md-icon-site-secondary {
    color: $site-color-secondary !important;
}
.md-icon-site-tertiary {
    color: $site-color-tertiary !important;
}
.cl-desktop-fab-align {
    margin: 60px 0 0 !important;
}
.md-no-margin-top {
    margin-top: 0;
}
.md-no-margin-bot {
    margin-bottom: 0;
}
/*
 * General Site
 */

body {
    font-family: 'Open Sans', sans-serif !important;
}
.ng-leave,
.ng-hide {
    display: none !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey !important;
}
.drafted {
    text-decoration: none;

    &.un {
        color: gray;
    }
}

/*
 * Flash Messages
 */

.alert {
    max-height: 0;
    &.customAlert {
        display: table;
        position: fixed;
        border: 1px solid #8A6D3B;
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 0 10%;
        top: 0;
        z-index: 9999;

        @include respond(tablet) {
            width: 50%;
            margin: 0 25%;
            padding: 0 50px 10px;
        }
    }
    &.alertIn {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -moz-transition: -moz-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition: -o-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition: transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &.alertIn.ng-hide-remove {
        opacity: 0;
        -webkit-transform:translateY(-200%);
        -moz-transform:translateY(-200%);
        transform:translateY(-100%);
    }
}

/* 
 * Template and Field Display
 */

.section-options {
    background-color: #eee;
    border-bottom: 5px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.new-field-add {
    background-color: #eee;
    border-top: 5px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.cl-field-add,
.cl-selected-field-options {
    margin-top: 15px;
    margin-bottom: 15px;
}

.field-options {
    overflow: hidden;

    &.ui-draggable {
        position: fixed !important;
        opacity: .3;
        padding: 0;
        z-index: 50;
        width: 32.3%;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -moz-transition: opacity 1s ease;
        transition: opacity 1s ease;
        .cl-selected-field-options {
            margin: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
    &:not(.ui-draggable) {
        position: static !important;
    }

    .cl-selected-field-options {
        background-color: #eee;

        .drag-bar {
            display: block;
            position: relative;
            height: 25px;
            content: '';
            background: $site-color-tertiary;
        }
    }
}
.md-container-parent {
    position: relative;
}

md-checkbox.md-checked.green .md-icon {
    background-color: rgba(0, 255, 0, 0.87);
}
md-checkbox.md-checked[disabled].red .md-icon {
    background-color: rgba(255, 0, 0, 0.26);
}

.cl-selected-field-options md-input-container,
.md-no-errors {
    
    margin-top: 0;

    .md-errors-spacer {
        min-height: 0;
    }
}


template-form-directive {

    md-checkbox {
        margin-bottom: 0;
    }
    md-select {
        margin-top: 0;
    }
    md-datepicker {
        margin-top: -6px;
    }
    template-field-directive {
        position: relative;

        .required {
            color: red;
            font-size: 12px;
        }

        .cust-start {
            margin-bottom: 18px;
        }

        .tooltip {
            position: initial;
            left: 2px;
            right: auto;
            bottom: 7px;
            font-size: 12px;
            line-height: 14px;
            transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
            color: grey;

            &.ng-hide,
            &.ng-enter,
            &.ng-leave.ng-leave-active {
                bottom: 26px;
                opacity: 0; }
            &.ng-leave,
            &.ng-enter.ng-enter-active {
                bottom: 7px;
                opacity: 1;
            }
        }

        .cust-tooltip {
            position: relative;
            font-size: 11px;
            margin: 10px 0 0 25px;
        }
        .field-overlay {
            position: absolute;
            top: 0;
            right: 12px;
            cursor: pointer;
            border-radius: 5px;

            &:hover,
            &.force-hover {
                background-color: $site-color-secondary;
                md-icon {
                    color: white;
                }
            }
        }
    }
}

/*
 * Landing
 */

.approach {
    position: relative;

    .approach-text {
        position: absolute;

        .approach-subtext-container {
            background-color:  rgba(84,102,40, .75);
        }

        .verticalFlipContainer {
            .verticalFlip {
                display: block;
                font-size: 56px;
                padding: 50px 0;

                span {
                    position: absolute;
                    opacity: 0;
                    right: 0;
                    left: 0;
                    color: forestgreen;
                    font-weight: bold;
                    font-family: 'Ubuntu';

                    $times: 12;
                    $basedelay: $times * 2.5s;
                    animation: vertical $basedelay linear infinite 2.5s;
                    -moz-animation: vertical $basedelay linear infinite 2.5s;
                    -webkit-animation: vertical $basedelay linear infinite 2.5s;

                    $looptimes: $times + 1;
                    @while $looptimes > 2 {
                        $looptimes: $looptimes - 1;
                        $delay: $looptimes * 2.5s;

                        &:nth-child(#{$looptimes}) {
                            animation-delay: $delay;
                            -moz-animation-delay: $delay;
                            -webkit-animation-delay: $delay;
                        }
                    }
                }
            }
            @keyframes vertical {
                0% { }
                2% { opacity: 1; }
                8% { opacity: 1; font-size: larger; }
                9% { opacity: .5; }
                10% { opacity: 0; font-size: 10px; }
            }
        }
    }
}

/*
 * Animate View Frame
 */

@include respond(desktop) {
    .view-animate-container {
        position:relative;
    }

    .view-animate.ng-enter, .view-animate.ng-leave {
        transition:all ease .5s;

        display:block;
        width:70%;

        position:absolute;
        left:15%;
    }

    .view-animate.ng-enter {
        left:100%;
    }
    .view-animate.ng-enter.ng-enter-active {
        left:15%;
    }
    .view-animate.ng-leave.ng-leave-active {
        left:-100%;
    }
}