/* Sessor Main CSS File
 * Authors: Joe McCormick
 * Last Updated: 10-13-15
 */

/* 
 * Mixin Settings
 */

$mini: 20em;
$mobile: 30em;
$tablet: 48em;
$desktop: 62em;

@mixin respond($media) {
    @if $media == mini {
        @media screen and (min-width: $mini) {
            @content
        }
    }
    @if $media == mobile {
        @media screen and (min-width: $mobile) {
            @content
        }
    }

    @else if $media == tablet {
        @media screen and (min-width: $tablet) {
            @content
        }
    }

    @else if $media == desktop {
        @media screen and (min-width: $desktop) {
            @content
        }
    }
}

/*
 * Material Design Additions
 */

.green {
    color: forestgreen;
}
 
$site-color-primary: rgb(173,199,106);
$site-color-secondary: rgb(137,160,79);
$site-color-tertiary: rgb(84,102,40);

.md-site-primary {
    background-color: $site-color-primary !important;
}
.md-site-secondary {
    background-color: $site-color-secondary !important;
}
.md-site-tertiary {
    background-color: $site-color-tertiary !important;
}
.md-icon-site-primary {
    color: $site-color-primary !important;
}
.md-icon-site-secondary {
    color: $site-color-secondary !important;
}
.md-icon-site-tertiary {
    color: $site-color-tertiary !important;
}
.md-fab:not(.md-mini) md-icon {
    margin-bottom: 16px !important;
}
.md-icon-button md-icon {
    margin-bottom: 12px !important;
}
.md-no-padding {
    padding: 0;
}
.cl-desktop-fab-align {
    margin: 60px 0 0 !important;
}
/*
 * General Site
 */

body {
    font-family: 'Open Sans', sans-serif !important;
}
.ng-leave,
.ng-hide {
    display: none !important;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey !important;
}
.drafted {
    text-decoration: none;

    &.un {
        color: gray;
    }
}

/*
 * Flash Messages
 */

.alert {
    max-height: 0;
    &.customAlert {
        display: table;
        position: fixed;
        border: 1px solid #8A6D3B;
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 0 10%;
        top: 0;
        z-index: 9999;

        @include respond(tablet) {
            width: 50%;
            margin: 0 25%;
            padding: 0 50px 10px;
        }
    }
    &.alertIn {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -moz-transition: -moz-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        -o-transition: -o-transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition: transform 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &.alertIn.ng-hide-remove {
        opacity: 0;
        -webkit-transform:translateY(-200%);
        -moz-transform:translateY(-200%);
        transform:translateY(-100%);
    }
}

/* 
 * Template and Field Display
 */

.section-options {
    margin-top: -10px;
    background-color: #eee;
    border-bottom: 5px solid #ddd;
}

.cl-field-add,
.cl-selected-field-options {
    margin-top: 15px;
    margin-bottom: 15px;
}

.field-options {
    overflow: hidden;

    &.ui-draggable {
        position: fixed !important;
        opacity: .3;
        padding: 0;
        z-index: 50;
        width: 32.3%;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -moz-transition: opacity 1s ease;
        transition: opacity 1s ease;
        .cl-selected-field-options {
            margin: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
    &:not(.ui-draggable) {
        position: static !important;
    }

    .cl-selected-field-options {
        background-color: #eee;

        .drag-bar {
            display: block;
            position: relative;
            height: 25px;
            content: '';
            background: $site-color-tertiary;
        }
    }
}

template-field-directive {

    .md-input-container-parent {
        position: relative;
    }

    .field-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        md-icon {
            margin-right: 8px;
        }

        &:hover,
        &.force-hover {
            background-color: rgba(255,255,255,.5);
            outline: none;
            border-top: 2px solid #337ab7;
            md-icon {
                color: #337ab7;
            }
        }
    }
}

/*
 * Landing
 */

.approach {
    overflow: hidden;

    position: relative;
    img {
        width: 425%;
        @include respond(mobile) { width: 250%; }
        @include respond(tablet) { width: 215%; }
        @include respond(desktop) { width: 100%; }
    }
    .approach-text {
        position: absolute;
        width: 100%;
        color: white !important;
        overflow-x: hidden;
        text-align: center;

        h3 {
            font-style: italic;
        }
        h2 {
            .verticalFlip {
                display: block;
                font-size: 56px;
                padding: 50px 0;

                span{
                    position: absolute;
                    opacity: 0;
                    right: 0;
                    left: 0;
                    color: forestgreen;
                    font-weight: bold;
                    font-family: 'Ubuntu';

                    $times: 12;
                    $basedelay: $times * 2.5s;
                    animation: vertical $basedelay linear infinite 2.5s;
                    -moz-animation: vertical $basedelay linear infinite 2.5s;
                    -webkit-animation: vertical $basedelay linear infinite 2.5s;

                    $looptimes: $times + 1;
                    @while $looptimes > 2 {
                        $looptimes: $looptimes - 1;
                        $delay: $looptimes * 2.5s;

                        &:nth-child(#{$looptimes}) {
                            animation-delay: $delay;
                            -moz-animation-delay: $delay;
                            -webkit-animation-delay: $delay;
                        }
                    }
                }
            }
            @keyframes vertical {
                0% { }
                2% { opacity: 1; }
                8% { opacity: 1; font-size: larger; }
                9% { opacity: .5; }
                10% { opacity: 0; font-size: 10px; }
            }
        }
    }
}

newsletter {
    background-color: rgba(34,139,34,0.3);
    padding: 1px 10% 30px;
}