/* Global Styles */

@media(min-width:768px) {
	.navbar-top {
		padding: 0 20px;
	}
	.collapse-nav {
		display: block !important;
		float: left;
	}
}

/* Menu Link Colors */
.form-header,
.navbar-top {
	a:not(.btn-default) {
		color: white;
		&:hover {
			color: #337ab7 !important;
		}
		&:hover:not(.btn),
		&:focus {
			background-color: transparent !important;
		}
	}
}

/* Navigation */

.nav>li {
	padding: 5px;
	float: left;
	a {
		padding: 10px !important;
	}
}

.navbar-top {
	background-color: forestgreen;

	.navbar-brand {
		padding: 15px;
		a {
			font-weight: bold;
			text-decoration: none !important;
		}
	}

	.navbar-toggle {
		padding: 8px 15px;
		margin-right: 0;

		.icon-bar {
			background-color: white;
		}
		&:hover {
			.icon-bar {
				background-color: #337ab7 !important;
			}
		}
	}

	.user-menu {
		.glyphicon {
			color: white !important;
		}
		&:hover {
			.glyphicon {
				color: #337ab7 !important;
			}
		}
	}
}

/* Brand Bar/Page Menu */
.top-nav>li:hover {
	ul {
		display: block;
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}


/* Dropdown */

.dropdown-menu {
	position: absolute;
	margin-top: 0 !important;

	&.bump-left {
		left: -115px !important;
	}

	li>span {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857;
		white-space: nowrap;
		z-index: 16;
		label {
			font-weight: 100;
			cursor: pointer;
		}
	}
	label,
	a {
		color: black !important;
	}
	&:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 5px 5px;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: -10px;
		left: 25px;
	}
	&.bump-left:before {
		left: 130px;
	}
}

/*
 * Loading Rotate
 */
.loading,
loading {
	i {
		-moz-animation:.6s rotateRight infinite linear; 
		-webkit-animation:.6s rotateRight infinite linear; 

	}
}
loading {

	div {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1050;
		padding: 25px;
		font-size: 24px;
		text-align: center;

		span {
			padding: 5px;
			background-color: #FAEBCC;
			border: 1px solid #8A6D3B;
		}
	}
}
@-moz-keyframes rotateRight{
	0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
	100%{ -moz-transform:rotate(360deg); }
}
@-webkit-keyframes rotateRight{
	0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
	100%{ -webkit-transform:rotate(360deg); }
}

/*
 * Vertical Flip
 */
.verticalFlip{
	padding-right: 125px;
	display: inline;
	text-indent: 4px;

	span{
		animation: vertical 12.5s linear infinite 0s;
		-ms-animation: vertical 12.5s linear infinite 0s;
		-webkit-animation: vertical 12.5s linear infinite 0s;
		color: #00abe9;
		opacity: 0;
		overflow: hidden;
		position: absolute;

		&:nth-child(2){
			animation-delay: 2.5s;
			-ms-animation-delay: 2.5s;
			-webkit-animation-delay: 2.5s;
		}
		&:nth-child(3){
			animation-delay: 5s;
			-ms-animation-delay: 5s;
			-webkit-animation-delay: 5s;
		}
		&:nth-child(4){
			animation-delay: 7.5s;
			-ms-animation-delay: 7.5s;
			-webkit-animation-delay: 7.5s;
		}
		&:nth-child(5){
			animation-delay: 10s;
			-ms-animation-delay: 10s;
			-webkit-animation-delay: 10s;
		}
	}
}
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
