<page-menu>
	<li><a href="#/profile"><i class="glyphicon glyphicon-user"></i> &nbsp; Profile</a></li>
</page-menu>
<div class="paper">
	<form role="form" ng-submit="updateAccount(user)">
		<fieldset ng-disabled="!user.signedIn">

			<h3>Personal Information</h3>
			<hr>
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="user.email" ng-disabled="true">
			</div>
			<div class="form-group">
				<label>Full Name</label>
				<input type="text" name="name" class="form-control" ng-model="user.name">
			</div>
			<div class="form-group">
				<label>Nickname</label>
				<input type="text" name="nickname" class="form-control" ng-model="user.nickname">
			</div>

    		<button type="submit" class="btn btn-link">Update Account</button>

		</fieldset>
	</form>
</div>