<div class="paper row">
	<h3>Forgot Password</h3>
	<hr>
	<form role="form" ng-submit="requestPasswordReset(passwordResetForm)" ng-init="passwordResetForm = {}">

		<p>We'll email you a link to reset your password.</p>
		
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="passwordResetForm.email">
		</div>

		<a href="#/" class="btn btn-link">Back</a>
		<button type="submit" class="btn btn-primary pull-right">Submit</button>

	</form>
</div>