<form name="myForm" id="myForm" class="form row">
  <!-- NEW FORM OPTIONS -->
  <div class="stick row" ng-show="form.livesave">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="btn-group btn-group-justified">
        <a role="button" class="btn btn-default" ng-click="saveReport()" ng-disabled="myForm.$invalid">Finish</a>
        <a role="button" class="btn btn-default" ng-click="saveReport('temp')" ng-disabled="myForm.$invalid">Save</a>
        <a role="button" class="btn btn-default" data-toggle="modal" data-target=".addTemplateModal"><i class="glyphicon glyphicon-plus"></i> Template</a>
      </div>
    </div>
    <div class="col-xs-1">
      <a role="button" class="btn btn-danger" ng-click="deleteReport()"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
  </div>
  <!-- END FORM OPTIONS -->


  <!-- REPORT TITLE -->
  <div class="container-fluid" ng-show="form.allow_title && form.templates">
    <h3>Title</h3>
    <input class="form-control" type="text" ng-model="form.title" value="{{form.title}}">
  </div>
  <!-- END REPORT TITLE -->


  <!-- TEMPLATE VIEW -->

  <center><h1>{{form.name}}</h1></center>

  <div class="col-xs-12" ng-repeat="(section_id, section_name) in form.sections track by $index">
    <h3>{{section_name}}</h3>
    
    <div class="col-xs-12" ng-class="{'col-md-6':form.columns[section_id] == 2, 'col-md-4':form.columns[section_id] == 3}" ng-repeat="column in countColumns(form.columns[section_id]) track by $index">
      <div ng-repeat="field in form.fields | filter:{column_id: $index+1, section_id: section_id+1}">
        <template-field-directive field="field" livesave="form.livesave"></template-field-directive>
      </div>
    </div>
  </div>
  <!-- END TEMPLATE VIEW -->


  <!-- REPORT VIEW -->
  <div ng-if="form.templates" ng-repeat="template in form.templates">
    <center><h1>{{template.name}}</h1></center>    

    <div class="col-xs-12" ng-repeat="(section_id, section_name) in template.sections track by $index">
      <h3>{{section_name}}</h3>
      
      <div class="col-xs-12" ng-class="{'col-md-6':template.columns[section_id] == 2, 'col-md-4':template.columns[section_id] == 3}" ng-repeat="column in countColumns(template.columns[section_id]) track by $index">
        <div ng-repeat="field in template.fields | filter:{column_id: $index+1, section_id: section_id+1}">
          <template-field-directive field="field" livesave="form.livesave"></template-field-directive>
        </div>
      </div>
    </div>
  </div>
  <!-- END REPORT VIEW -->


</form>




<!-- BEGIN PREVIEW MODAL -->
<div class="modal fade addTemplateModal" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true" ng-if="form.livesave">
  <div class="modal-dialog modal-lg">
    <form class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h2 class="modal-title">Template Selection</h2>
      </div>
      <div class="modal-body row">
        <div class="text-center">
          <bgf-pagination url="'v1/templates'" collection="templates" url-params="{'d':true,'ts':[form.template_ids]}"></bgf-pagination>
        </div>
        <div role="button" class="col-xs-6" data-dismiss="modal" ng-click="selectTemplate(template)" ng-repeat="template in templates">
          <ul class="list-group">
            <li class="list-group-item"><h4>{{template.name}}</h3></li>
            <li class="list-group-item" ng-if="template.allow_title">Title</li>
            <li class="list-group-item" ng-repeat="section_name in template.sections track by $index">{{section_name}}</li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END PREVIEW MODAL -->