<div ng-form="myForm" class="form">
  
  <div ng-class="{'paper-width':(form.selectedOptions != undefined && form.editing) || report.templates, 'paper-height':report.templates}">

    <div ng-if="form.hideName==false" class="paper row">
      <div class="col-xs-12">
        <input type="text" class="form-control imod" placeholder="Enter Name then Save" ng-model="form.name">
      </div>
    </div>

    <div ng-if="report.hideTitle==false && report.allow_title==true" class="paper row">
      <div class="col-xs-12">
        <input ng-if="report.editing" type="text" class="form-control imod" placeholder="Title" ng-model="report.title">
        <h1 ng-if="report.viewing" class="text-center">{{report.title}}</h1>
      </div>
    </div>

    <div ng-show="form.sections" class="paper row">
      <div class="col-xs-12">
        <small ng-if="form.editing" class="pull-left">Click items to edit</small>
        <small ng-if="form.draft" class="pull-right">Draft</small>
  
        <a href="javascript:;" ng-if="report.editing" class="text-danger close pull-right" ng-bootbox-confirm="<center><h4>Are you sure you want to remove this page from the report?<br><br>All information will be lost.</h4></center>" ng-bootbox-confirm-action="report.removeTemplate(form, report)"><i class="glyphicon glyphicon-remove"></i></a>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <h1><center>{{form.name}}</center></h1>
      </div>

      <div class="col-xs-12 section-row" ng-repeat="(section_id, section_name) in form.sections track by $index">

        <h2 ng-class="{'no-highlight':!form.editing,'force-hover':form.selectedOptions == section_id}" ng-click="form.selectedOptions=section_id" scroll-to=".force-hover" template="form">
          {{section_name}}
          <span ng-if="!section_name">
            <span ng-if="!form.editing">&nbsp;</span>
            <small><a href="javascript:;" ng-if="form.editing">Add a section name, or leave blank</a></small>
          </span>
        </h2>

        <div class="col-xs-12" ng-class="{'col-md-6':form.columns[section_id] == 2, 'col-md-4':form.columns[section_id] == 3}" ng-repeat="column in columnsArray(form.columns[section_id]) track by $index">

          <div ng-click="form.setSelectedOptions(field, form)" ng-repeat="field in form.fields | filter:{column_id: $index+1, section_id: section_id+1} | orderBy:'column_order'" scroll-to=".force-hover" template="form">
            <template-field-directive myForm="myForm" field="field" template="form" report="report"></template-field-directive>
          </div>

        </div>

        <p class="clearfix">
          <div ng-if="!form.editing">&nbsp;</div>
          <a href="javascript:;" ng-if="form.editing" ng-click="form.newSectionAdd=false;form.newFieldAdd=true;form.newFieldSection=section_id" scroll-to="#page_additions" template="form">
            Add field to {{section_name}}<span ng-if="!section_name">this section</span>
          </a>
        </p>

      </div>

    </div>

  </div>

  <!-- RIGHT SIDEBAR -->
  <div id="right-sidebar" ng-show="(form.selectedOptions != undefined && form.editing) || report.templates" class="template-options" ng-class="{'report-pages':report}">
    <div class="col-xs-12">

      <!-- REPORT PAGES DESKTOP -->
      <div ng-if="report.templates">
        <h3>Pages</h3>
        <ul class="list-unstyled">
          <li class="navbar-text"><p ng-repeat="template in report.templates"><a href="javascript:;" ng-class="{'selected':template==form}" ng-click="setBreadcrumb(template)">{{template.name}}</a></p></li>
        </ul>
      </div>

      <!-- SECTION OPTIONS -->
      <div ng-if="!report && !form.selectedOptions.fieldtype">
        <h3>SECTION</h3>
        <p class="clearfix">
          <a href="javascript:;" class="btn btn-success" ng-click="form.setSelectedOptions(undefined, form)"><i class="glyphicon glyphicon-ok"></i> &nbsp; Done</a>
        </p>

        <h4>Name</h4>
        <input type="text" class="form-control" ng-model="form.sections[form.selectedOptions]">

        <h4>Columns</h4>
        <p class="btn-group btn-group-justified">
          <a href="javascript:;" class="btn btn-primary" ng-disabled="form.columns[form.selectedOptions] <= 1" ng-click="form.deleteSectionColumn(form, form.selectedOptions, myForm.$$parentForm)"><i class="glyphicon glyphicon-minus"></i></a>
          <a href="javascript:;" class="btn btn-default" ng-disabled="true">{{form.columns[form.selectedOptions]}}</a>
          <a href="javascript:;" class="btn btn-primary" ng-disabled="form.columns[form.selectedOptions] >= 3" ng-click="form.addSectionColumn(form, form.selectedOptions, myForm.$$parentForm)"><i class="glyphicon glyphicon-plus"></i></a>
        </p>

        <h4>Order</h4>
        <p class="btn-group btn-group-justified">
          <a href="javascript:;" class="btn btn-default" ng-click="form.moveSection(form, form.selectedOptions, 'up');myForm.$$parentForm.$dirty=true"><i class="glyphicon glyphicon-arrow-up"></i></a>
          <a href="javascript:;" class="btn btn-default" ng-click="form.moveSection(form, form.selectedOptions, 'down');myForm.$$parentForm.$dirty=true"><i class="glyphicon glyphicon-arrow-down"></i></a>
        </p>

        <h4>&nbsp;</h4>
        <a href="javascript:;" class="save-now pull-right" ng-bootbox-confirm="<center><h4>Are you sure you want to remove this section from the page?<br><br>The section's columns and fields will also be deleted and this is not reversible.</h4></center>" ng-bootbox-confirm-action="form.deleteSection(form, form.selectedOptions, myForm.$$parentForm)">Delete Section</a>
      </div>

      <!-- FIELD OPTIONS -->
      <div ng-if="!report && form.selectedOptions.fieldtype">
        <h3>{{form.selectedOptions.fieldtype | uppercase}}</h3>
        <a href="javascript:;" class="btn btn-success" ng-click="form.setSelectedOptions(undefined, form)"><i class="glyphicon glyphicon-ok"></i> &nbsp; Done</a>

        <h4>Name</h4>
        <input type="text" class="form-control" ng-model="form.selectedOptions.name">

        <h4>Default Value</h4>
        <p class="clearfix">
          <input ng-if="form.selectedOptions.fieldtype == 'integer'" type="number" class="form-control" ng-model="form.selectedOptions.default_value">
          <input ng-if="form.selectedOptions.fieldtype == 'date'" type="date" class="form-control" ng-model="form.selectedOptions.default_value">
          <input ng-if="form.selectedOptions.fieldtype == 'time'" type="time" class="form-control" ng-model="form.selectedOptions.default_value">
          <input ng-show="['checkbox','labelntext','textarea','date','time','integer'].indexOf(form.selectedOptions.fieldtype) == -1" type="text" class="form-control" ng-model="form.selectedOptions.default_value">
          <input ng-show="form.selectedOptions.fieldtype == 'checkbox'" type="checkbox" class="imod" ng-model="form.selectedOptions.default_value">
          <textarea ng-show="['labelntext','textarea'].indexOf(form.selectedOptions.fieldtype) != -1" class="form-control" ng-model="form.selectedOptions.default_value"></textarea>
        </p>

        <h4>Column</h4>
        <p class="btn-group btn-group-justified">
          <a href="javascript:;" class="btn btn-default" ng-class="{'btn-primary':$index+1==form.selectedOptions.column_id}" ng-click="form.changeFieldColumn(form, form.selectedOptions, $index+1);myForm.$$parentForm.$dirty=true" ng-repeat="column in columnsArray(form.columns[form.selectedOptions.section_id-1]) track by $index">{{$index+1}}</a>
        </p>

        <h4>Order</h4>
        <p class="btn-group btn-group-justified">
          <a href="javascript:;" class="btn btn-default" ng-click="form.moveField(form, form.selectedOptions, 'up');myForm.$$parentForm.$dirty=true"><i class="glyphicon glyphicon-arrow-up"></i></a>
          <a href="javascript:;" class="btn btn-default" ng-click="form.moveField(form, form.selectedOptions, 'down');myForm.$$parentForm.$dirty=true"><i class="glyphicon glyphicon-arrow-down"></i></a>
        </p>

        <div class="h4" ng-show="form.selectedOptions.fieldtype != 'labelntext'">
          <h4>Required</h4>
          <p class="btn-group btn-group-justified" ng-click="form.selectedOptions.required = !form.selectedOptions.required;myForm.$$parentForm.$dirty=true">
            <a href="javascript:;" class="btn btn-default" ng-class="{'btn-primary':form.selectedOptions.required}">Yes</a>
            <a href="javascript:;" class="btn btn-default" ng-class="{'btn-primary':!form.selectedOptions.required}">No</a>
          </p>

          <h4>Disabled</h4>
          <p class="btn-group btn-group-justified" ng-click="form.selectedOptions.disabled = !form.selectedOptions.disabled;myForm.$$parentForm.$dirty=true">
            <a href="javascript:;" class="btn btn-default" ng-class="{'btn-primary':form.selectedOptions.disabled}">Yes</a>
            <a href="javascript:;" class="btn btn-default" ng-class="{'btn-primary':!form.selectedOptions.disabled}">No</a>
          </p>
        </div>

        <div ng-if="form.selectedOptions.fieldtype == 'dropdown' || form.selectedOptions.fieldtype == 'radio'">
          <h4>Options <small><a href="javascript:;" ng-click="form.addOption(form.selectedOptions);myForm.$$parentForm.$dirty=true">Add New</a></small></h4>
          <div class="input-group" ng-repeat="option in form.selectedOptions.options track by $index">
            <input type="text" class="form-control" ng-model="form.selectedOptions.options[$index]">
            <span class="input-group-btn">
              <a href="javascript:;" class="btn btn-danger" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this option?<br><br>It will be permanently deleted.</h4></center>" ng-bootbox-confirm-action="form.deleteOption(form.selectedOptions, option, form, myForm.$$parentForm)">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </span>
          </div>
        </div>
        <h4>&nbsp;</h4>
        <a href="javascript:;" class="save-now pull-right" ng-bootbox-confirm="<center><h4>Are you sure you want to delete this field?<br><br>It will be permanently deleted.</h4></center>" ng-bootbox-confirm-action="form.deleteField(form, form.selectedOptions, myForm.$$parentForm)">Delete Field</a>
      </div>

    </div>
  </div>

</div>