<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <form class="form-signin" role="form" ng-init="loginForm = {}">
        <div class="modal-header">
          <h4 class="modal-title">Sign in to Sessor</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<modal title="Sign in to Sessor" visible="showLoginModal">
  <form role="form">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" class="form-control" name="email" id="email" ng-model="loginForm.email" required="required" placeholder="Email">
    <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" name="password" id="password" ng-model="loginForm.password" required="required" placeholder="Password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-model="loginForm.remember"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" data-dismiss="modal" ng-click="submitLogin(loginForm)">Sign in</button>
    <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal" ng-bootbox-prompt="Please enter your email..." ng-bootbox-prompt-action="handleForgotPass(result)">Forgot Password</button>
  </form>
</modal>