<!DOCTYPE html>
<html ng-csp ng-app="sessor">
<head>
  <title>Sessor</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <noscript>
     Please enable javascript and cookies in your browser. 
  </noscript>
</head>
<body ng-controller="NavController">
  <%= yield %>
</body>
  <%= javascript_include_tag 'application' %>
  <script>
    if (!navigator.cookieEnabled) document.write('Please enable javascript and cookies in your browser.');
  </script>
</html>
