<!DOCTYPE html>
<html ng-csp ng-app="sessor">
  <head>
    <title>Clerkr</title>
    <link rel="icon" href="//www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-01-10/7d9f05b79dd07e2707b1221314509036.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div flash-message="7500"></div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <noscript>Please enable javascript and cookies in your browser.</noscript>
    <script>if (!navigator.cookieEnabled) document.write('Please enable javascript and cookies in your browser.');</script>
  </body>
</html>
